
<div align="center" id="contents"> <font size="5" color="orange"><b>PYTHON PROGRAMMING LANGUAGE</b></font> </div>

<div align="left"> <font size="4" color="red"><b>TABLE OF CONTENTS</b></font> </div>
<ol type="square">
    <li><a href="#intro">Introduction
    <li><a href="#datatype">Data types and Operations</a></li>
    <li><a href="#variables">Variables and Collections</a></li>
    <li><a href="#control">Control Flow and Loops</a></li>
    <li><a href="#functions">Functions</a></li>
    <li><a href="#classes">Classes</a></li>
    <li><a href="#fileio">File I/O</a></li>
</ol>

In [1]:
import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

There are two versions of Python - 2.x and 3.x - former was discontinued in Dec 2019. For most part, the codes written in Python 2.x will run in 3.x without many changes. Given below are the major differences in the two versions<br>
<img src="https://learntocodewith.me/wp-content/uploads/2014/06/python-2-vs-3-2018.png" alt="Python 2 vs 3" width="50%" height="50%"></img>

This notebook has been created with Python 3.x version. If you are running Python 2.x(see the output you got above), then it is highly advisable that you uninstall and re-install 3.x version from the link above.

<div align="left" id="intro_zen"><a href="#intro"><font size="4" color="black"><b>The Zen of Python</b></font></a></div>

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

<b>The Zen of Python, by Tim Peters</b>
<br>
<br>Beautiful is better than ugly.
<br>Explicit is better than implicit.
<br>Simple is better than complex.
<br>Complex is better than complicated.
<br>Flat is better than nested.
<br>Sparse is better than dense.
<br>Readability counts.
<br>Special cases aren't special enough to break the rules.
<br>Although practicality beats purity.
<br>Errors should never pass silently.
<br>Unless explicitly silenced.
<br>In the face of ambiguity, refuse the temptation to guess.
<br>There should be one-- and preferably only one --obvious way to do it.
<br>Although that way may not be obvious at first unless you're Dutch.
<br>Now is better than never.
<br>Although never is often better than *right* now.
<br>If the implementation is hard to explain, it's a bad idea.
<br>If the implementation is easy to explain, it may be a good idea.
<br>Namespaces are one honking great idea -- let's do more of those!

That's the broad philosophy of Python. We will see how few of the points above are evident in the code we write in Python

<div align="left" id ="intro_why"> <a href="#intro"><font size="3" color="black"><b>Why Python?</b></font></a></div>

In [3]:
import antigravity

<div align="left" id ="intro_tip"> <a href="#intro"><font size="3" color="black"><b>Pro-tip</b></font></a></div>

The best and the only tip you ever need in learning any programming language is that when you face any error, copy the error code, google it and open the links on Stack Overflow. A wise man once said, there are no problems which another dude on internet hasn't posted on Stack Overflow already

<div align="left" id="datatype"><a href="#contents"><font size="4" color="red"><b>DATA TYPE AND OPERATIONS</b></font></a></div>
<ol type="square">
    <li><a href="#datatype_mute">Mutable vs. Immutable</a></li>
    <li><a href="#datatype_comments">Comments</a></li>
    <li><a href="#datatype_primitive">Primitive Datatypes and Operators</a></li>
</ol>

<div align="left" id="datatype_mute"><a href="#datatype"><font size="3" color="black"><b>Mutable vs. Immutable</b></font></a></div>

Mutable types can have individual items reassigned in place, while immutable types cannot. <br>
In simple language, all mutable object types can be edited i.e. changes can be made without replacing the whole object<br>
And immutable object types cannot be edited and need to be replaced all together<br>

<b>Mutable objects</b>: list, dict, set, byte array<br>
<b>Immutable objects</b>: int, float, complex, string, tuple, frozen set [note: immutable version of set], bytes

In [4]:
#list is mutable and hence you can change any element you want
L = [0,2,3]
L[0] = 1
print (L)

[1, 2, 3]

In [5]:
#string is immutable
s = 'string'
s[0] = 'o' #throws error

TypeError: 'str' object does not support item assignment

Python creates real copies only if it has to, i.e. if the user, the programmer, explicitly demands it

In [6]:
x=[1,2,4]
print ("Location of x",id(x), "\tValue of x", x) #id() function tells you the location of a variable in memory

y=x
print("Location of y",id(y), "\tValue of y", y) #\t refers to a "tab" - basically a whitespace equal to four spaces

Location of x 1919811992768 	Value of x [1, 2, 4]
Location of y 1919811992768 	Value of y [1, 2, 4]

As you can see, both "x" and "y" have same value and are in the same memory location. Also notice how print function has been used to print mutiple strings and variable values by separating them with a comma<br><br>
Among other ways(which we will discuss when they come up in future), you can use "copy" module to copy an object into a new location

In [7]:
import copy
z = copy.copy(x)
print("Location of z",id(y), "\tValue of z", z)

Location of z 1919811992768 	Value of z [1, 2, 4]

Now variable "z" has the same value as "x" and "y", but it is stored in a different memory location. <br><br>
If you assign one mutable object to another and then change/edit a value in the first object, the same will be reflected in the second object

In [8]:
x = [1,2,4]
y = x #This just points to the same object i.e. x
print ("x=", x)
print ("id of x=", id(x))
print ("y=", y)
print ("id of y=", id(y))

x= [1, 2, 4]
id of x= 1919811992512
y= [1, 2, 4]
id of y= 1919811992512

In [9]:
#Changing value at the first location in the list "x"
x[0] = 999
print("Changing a value in x, changes it in y too. Ids are same:")
print ("x=", x)
print ("id of x=", id(x))
print ("y=", y)
print ("id of y=", id(y))

Changing a value in x, changes it in y too. Ids are same:
x= [999, 2, 4]
id of x= 1919811992512
y= [999, 2, 4]
id of y= 1919811992512

That is not the case with immutable objects because you cannot edit them, just change the value entirely. There are work arounds to copy a mutable object into another without facing the issue discussed above. One such way is as below :

In [10]:
x = [1,2,4]
y = x[:] #Now this won't point to the same object
print ("x=", x)
print ("id of x=", id(x))
print ("y=", y)
print ("id of y=", id(y)) #Ids are same, but NOT values

x= [1, 2, 4]
id of x= 1919811749184
y= [1, 2, 4]
id of y= 1919811917440

In [11]:
#Changing value at the first location in the list "x"
x[0] = 999
print("Changing a value in x, does NOT change it in y too")
print ("x=", x)
print ("id of x=", id(x))
print ("y=", y)
print ("id of y=", id(y))

Changing a value in x, does NOT change it in y too
x= [999, 2, 4]
id of x= 1919811749184
y= [1, 2, 4]
id of y= 1919811917440

<div align="left" id="datatype_comments"><a href="#datatype"><font size="3" color="black"><b>Comments</b></font></a></div>

In [12]:
# Single line comments start with a number symbol.

In [13]:
""" Multi-line strings can be written
    using three "s, and are often used
    as comments
"""
x = 3

<div align="left" id="datatype_primitive"><a href="#datatype"><font size="3" color="black"><b>Primitive Datatypes and Operators</b></font></a></div>

In [14]:
# You have numbers, mostly called integers
3

3

In [15]:
# Math is what you would expect
1 + 1

2

In [16]:
8 - 1

7

In [17]:
10 * 2

20

In [18]:
34 / 5

6.8

Now division used to be tricky in Python 2. For the code above, Python 2 would have just printed the integer part of the output i.e. 6. As a good practice whenever you are dividing, multiply numerator with 1.0. This will force normal division in whichever Python version you are using. For example:

In [19]:
39*1.0/7

5.571428571428571

In [20]:
# We have float values which have decimal places too
2.0  # This is a float

2.0

In [21]:
#Multiplying by a float number, always leads to a float output
45*100*1.0/70
#or you can do 45.0*100/70

64.28571428571429

In [22]:
# Modulo operation given remainder
20 % 15

5

In [23]:
100%100

0

In [24]:
# Exponentiation (x to the yth power)
2 ** 4

16

In [25]:
3**2

9

In [26]:
# Enforce precedence with parentheses
(1 + 3) * 2  # => 8

8

In Python, Boolean values are the two constant objects - False and True

In [27]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False

False

PYTHON IS CASE SENSITIVE. true is NOT same as TRUE or True or TrUe

In [28]:
False or True  # => True

True

You can use Bool operators with integers too

In [29]:
#Any 0 value is "False"
0 == False

True

In [30]:
#1 is "True"
1 == True

True

In [31]:
# negate with "not"
not True

False

In [32]:
not False

True

In [33]:
# Equality is ==
print ("1 == 1 is", 1 == 1)
print ("2 == 1 is", 2 == 1)

1 == 1 is True
2 == 1 is False

In [34]:
# Inequality is !=
print (1 != 1)  
print (2 != 1)

False
True

In [35]:
# Some more comparisons
print (1 < 10) 
print (1 > 10)  
print (2 <= 2) 
print (2 >= 2)

True
False
True
True

Strings

In [37]:
# Strings are created with "(double quote) or '(single quote) or """(triple double quote) or '''(triple single quote)
print ("This is a string")
print ('This is also a string')
print ("""This too""")
print ('''And finally this too''')

This is a string
This is also a string
This too
And finally this too

In [38]:
#you can also save strings in a variable
a = "Hello"
b = "World!"
print (a)
print (b)

Hello
World!

In [39]:
# Strings can be added too!
print ("Hello " + "world!")

Hello world!

In [40]:
# ... or multiplied
print ("Hello" * 3)

HelloHelloHello

A string can be treated like a list of characters. We can access individual letters in the string like this

In [41]:
print ("This is a string"[0])  
print ("This is a string"[1])

T
h

In [42]:
#You can do it from the back too (TWSS :P)
print ("This is a string"[-1])
print ("This is a string"[-2])

g
n

Always remember that <b>numbering/indexing in Python starts from 0 and NOT 1</b>. So to access first element you write [0], for second you write [1], so on and so forth. You can count from back too, in which case the numbering starts from -1 e.g. last element will be [-1], second last will be [-2]

In [43]:
# You can find the length of a string
len("This is a string")

16

In [44]:
# None is an object too
print (None)

None

Like in SQL you have "NULL" and "NA" in R, in python a missing element is denoted by None. To compare something with "None", you need to use "is", not "=="

In [45]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead
print ("etc" is None )
print (None is None  )

False
True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Abhishek Jaiswal\AppData\Local\Temp\ipykernel_8860\2267343281.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print ("etc" is None )

<div align="left" id="variables"><a href="#contents"><font size="4" color="red"><b>VARIABLES AND COLLECTIONS</b></font></a></div>
<ol type="square">
    <li><a href="#variables_rules">Rules and Conventions</a></li>
    <li><a href="#variables_numbers">Numbers and strings</a></li>
    <li><a href="#variables_lists">Lists</a></li>
    <li><a href="#variables_tuples">Tuples</a></li>
    <li><a href="#variables_dict">Dictionaries</a></li>
    <li><a href="#variables_sets">Sets</a></li>
</ol>

<div align="left" id="variables_rules"> <a href="#variables"> <font size="3" color="black"><b>The Rules</b></font><a></div>
Variables names must start with a letter or an underscore, such as:
<ul type="square">
    <li>_myvar</li>
    <li>myvar&#95;</li>
</ul>


The remainder of your variable name may consist of letters, numbers and underscores:
<ul type="square">
    <li>password1</li>
    <li>n00b</li>
    <li>un_der_scores</li>
</ul>


As I said earlier, Python is case-sensitive:
<ul type="square">
    <li>case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.</li>
</ul>

<div align="left"> <font size="3" color="black"><b>The Conventions</b></font> </div>
Readability is very important. Which of the following is easiest to read? I’m hoping you’ll say the first example:
<ol type="square">
    <li>python_puppet</li>
    <li>pythonpuppet</li>
    <li>pythonPuppet</li>
</ol>


Descriptive names are very useful. If you are writing a program that adds up all of the terrible jokes made in this book, which do you think is the better variable name?
<ol type="square">
    <li>terrrible_jokes_count</li>
    <li>cnt</li>
</ol>
Certain keywords which Python itself uses like print, help, int, float, list, set etc are also not allowed to be used as variable names

<div align="left"  id="variables_numbers"><a href="#variables"><font size="3" color="black"><b>Numbers and strings</b></font> <a></div>

In [46]:
# No need to declare variables before assigning to them
some_var = 5  
print (some_var)

5

Unlike some low-level languages like C and Java, there is no need to declare the type of variable in Python.
All you have to do is define a variable and assign a value to it. 
Python will automatically read what kind of variable it is - be it string or integer or float or any other data types that we will discuss below. Examples are as below :

In [47]:
my_float = 2.35; print (my_float)
my_string = "Hi there!"; print (my_string)

2.35
Hi there!

<div align="left"  id="variables_lists"><a href="#variables"><font size="3" color="black"><b>Lists</b></font><a></div>

Lists are equivalent to arrays in most other programming languages and are used to store values in a sequence

In [48]:
# Lists store sequences. You can start with an empty list
li = []
print(li)

[]

In [49]:
#Or you can start with a prefilled list
other_li = [4, 5, 6]
print (other_li)

[4, 5, 6]

In [50]:
#A list can contain anything e.g numbers along with strings etc
my_list = [1, "a", "Python", 1.25]
print (my_list)

[1, 'a', 'Python', 1.25]

In [51]:
# Add stuff to the end of a list with append
li.append(1) 
li.append(2) 
li.append(4)  
li.append(3)  
print (li)

[1, 2, 4, 3]

In [52]:
# Remove from the end with pop
li.pop()  
print (li)

[1, 2, 4]

In [53]:
# Let's put it back in (TWSS :P)
li.append(3)  
print (li)

[1, 2, 4, 3]

In [54]:
# Access a list element like you would any array
print (li[0])  
print (li[1])

1
2

In [55]:
# Look at the last element
li[-1]  # => 3

3

In [56]:
# Looking-up out of bounds is an IndexError
li[4]  # Raises an IndexError

IndexError: list index out of range

Remember the pro tip above? You can simply copy this error and google to find out what went wrong. Luckily it says right there that the index was out of range

In [57]:
# Assign new values to indexes that have already been initialized with =
li[0] = "lol"
print (li)

['lol', 2, 4, 3]

In [58]:
# Let's put back the original value
li[0] = 1 
print (li)

[1, 2, 4, 3]

<b>List slicing</b>

In [59]:
# You can look at ranges with slice syntax.
li[1:3]

[2, 4]

Slicing works like this - If you have <b>li[a:b:c]</b>, you will get all the values <b> starting from location "a" to location ending at "b-1" (i.e. element at loction b isn't included) with a jump of "c" units</b>. Here are some examples

In [60]:
#This is the list right now
print(li)

[1, 2, 4, 3]

In [61]:
#From index 2 and onwards
print ("li[2:] is ", li[2:])  # => [4, 3]

li[2:] is  [4, 3]

In [62]:
# Till the index 3, but element at index 3 won't be included
print ("li[:3] is ",li[:3])  # => [1, 2, 4]

li[:3] is  [1, 2, 4]

In [63]:
# Select every second entry
print ("li[::2] is ",li[::2])  # =>[1, 4]

li[::2] is  [1, 4]

In [64]:
# Reverse a copy of the list
print ("li[::-1] is ",li[::-1])  # => [3, 4, 2, 1]

li[::-1] is  [3, 4, 2, 1]

We encourage you to play around with different combinations of a,b, and c(i.e. start, end, and step) to get comfortable with the notation. They also work the same with strings. for example :

In [65]:
#From index 2 and onwards
print ("Hello World! [2:] is => ", "Hello World!"[2:])

Hello World! [2:] is =>  llo World!

In [66]:
# Till the index 3, but element at index 3 won't be included
print ("Hello World![:3] is => ","Hello World!"[:3])

Hello World![:3] is =>  Hel

In [67]:
# Select every second entry
print ("Hello World![::2] is => ","Hello World!"[::2])

Hello World![::2] is =>  HloWrd

In [68]:
# Reverse the string
print ("Hello World![::-1] is => ","Hello World!"[::-1])

Hello World![::-1] is =>  !dlroW olleH

In [69]:
# Remove arbitrary elements from a list with "del"
del li[2]  
print (li)

[1, 2, 3]

In [70]:
# You can add lists
li + other_li

[1, 2, 3, 4, 5, 6]

In [71]:
#Did that change li or other li? No it didn't. They are still the same
print(li, other_li)

[1, 2, 3] [4, 5, 6]

In [72]:
# Concatenate lists with "extend()"
li.extend(other_li) # Now li is changed
print (li)

[1, 2, 3, 4, 5, 6]

In [73]:
# Remove first occurrence of a value
li.remove(2)  # li is now [1, 3, 4, 5, 6]
print (li)

[1, 3, 4, 5, 6]

In [74]:
#Try again?
li.remove(2)  # Raises a ValueError as 2 is not in the list
print (li)

ValueError: list.remove(x): x not in list

In [75]:
# Insert an element at a specific index
li.insert(1, 2)  # li is now [1, 2, 3, 4, 5, 6] again
print (li)

[1, 2, 3, 4, 5, 6]

In [76]:
# Get the index of the first item found
print (li.index(2)) # give 1 and not 2, why? because numbering starts from 0

1

In [77]:
print (li.index(7))  # Raises a ValueError as 7 is not in the list

ValueError: 7 is not in list

In [78]:
# Check for existence in a list with "in"
print (1 in li) 
print (8 in li)

True
False

In [79]:
# Examine the length with "len()"
len(li)

6

In [80]:
#matrix can be thought of as list of lists i.e. each row as list and then list of rows
my_matrix = [[1,2,3],[4,5,6]] #2x3 matrix
print("First row:", my_matrix[0])
print("Second row:", my_matrix[1])

First row: [1, 2, 3]
Second row: [4, 5, 6]

<div align="left"  id="variables_tuples"><a href="#variables"><font size="3" color="black"><b>Tuples</b></font></a></div>
Tuples are sequences, just like lists. The differences between tuples and lists are:
<ol>
    <li>unlike lists, the tuples cannot be changed because tuples are immutable while lists are mutable</li>
    <li>tuples use parentheses, whereas lists use square brackets</li>
</ol>

In [81]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
print (tup[0])

1

In [82]:
#IMMMUTABLE
tup[0] = 3  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [83]:
# You can do all those list thingies on tuples too
print (len(tup))  # => 3
print (tup + (4, 5, 6))  # => (1, 2, 3, 4, 5, 6)
print (tup[:2])  # => (1, 2)
print (2 in tup)  # => True

3
(1, 2, 3, 4, 5, 6)
(1, 2)
True

In [84]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3
d, e, f = 4, 5, 6  # you can leave out the parentheses
print ("a =", a)
print ("Rest values are", b, c, d, e, f)

a = 1
Rest values are 2 3 4 5 6

In [85]:
# Tuples are created by default if you leave out the parentheses
g = 4, 5, 6 
print (g)

(4, 5, 6)

In [86]:
# Now look how easy it is to swap two values
print("Before:", e,d)
e, d = d, e  # d is now 5 and e is now 4
print("After:", e,d)

Before: 5 4
After: 4 5

Python! Its magic!

<div align="left"  id="variables_dict"><a href="#variables"><font size="3" color="black"><b>Dictionaries</b></font></a></div>
A dictionary is an associative array (also known as hashes). Any key of the dictionary is associated (or mapped) to a value. The values of a dictionary can be any Python data type(mutable or immutable), but keys are mandated to be ONLY immutable. So in essence, dictionaries are unordered key-value-pairs

In [87]:
# Dictionaries store mappings
empty_dict = {}
print (empty_dict)

{}

In [88]:
# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}
print (filled_dict)

{'one': 1, 'two': 2, 'three': 3}

In [89]:
#Another and a less used way
keys = ['luke', 'david', 'chris', 'stewart']
values = ['504', '637', '921', '110']
D = dict(zip(keys, values))
print (D)

{'luke': '504', 'david': '637', 'chris': '921', 'stewart': '110'}

An important point to note here is that unlike in lists or tuples, the values or keys inside dictionary are not ordered. So there is no first key or first value or second key or second value. All key-value pairs are unordered

In [90]:
# Look up values with []
print (filled_dict["one"]  )

1

In [91]:
# Get all keys as a list with "keys()"
filled_dict.keys()  # => ["three", "two", "one"]
# Note - Dictionary key ordering is not guaranteed.
# Your results might not match this exactly.

dict_keys(['one', 'two', 'three'])

In [92]:
#To get an output like a normal python list instead of dict_keys
list(filled_dict.keys())

['one', 'two', 'three']

In [93]:
# Get all values as a list with "values()"
filled_dict.values()  # => [3, 2, 1]
# Note - Same as above regarding key ordering.

dict_values([1, 2, 3])

In [94]:
list(filled_dict.values())

[1, 2, 3]

In [95]:
# Get all key-value pairs as a list of tuples with "items()"
filled_dict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [96]:
# Check for existence of keys in a dictionary with "in"
print ("one" in filled_dict) 
print (1 in filled_dict)

True
False

In [97]:
# Looking up a non-existing key is a KeyError
filled_dict["four"]

KeyError: 'four'

In [98]:
# Use "get()" method to avoid the KeyError
print (filled_dict.get("one"))  # => 1
print (filled_dict.get("four"))  # => None

1
None

In [99]:
# The get method supports a default argument when the value is missing
print (filled_dict.get("one", "Whoops Not Found"))  # => 1
print (filled_dict.get("four", "Whoops Not Found"))

1
Whoops Not Found

In [100]:
# set the value of a key with a syntax similar to lists
filled_dict["four"] = 4 
print (filled_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [101]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 5) # filled_dict["five"] is set to 5
print (filled_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [102]:
filled_dict.setdefault("five", 6) # filled_dict["five"] is still 5
print (filled_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

<div align="left"  id="variables_sets"><a href="#variables"> <font size="3" color="black"><b>Sets</b></font></a></div>
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements

In [103]:
# Sets store ... well sets (which are like lists but can contain no duplicates)
empty_set = set()
print (empty_set)

set()

In [104]:
# Initialize a "set()" with a bunch of values
some_set = set([1, 2, 2,2,2,2,2,2, 3, 4])
print (some_set)
#Duplicate 2's were ignored

{1, 2, 3, 4}

In [105]:
## order is not guaranteed, even though it may sometimes look sorted
another_set = set([4, 3, 2, 2, 5, 1, "a", 0, 1.03])  
print (another_set)

{0, 1, 2, 3, 4, 5, 1.03, 'a'}

In [106]:
#{} can be used to declare a set too
filled_set = {1, 2, 2, 3, 4}
print(filled_set)

{1, 2, 3, 4}

In [107]:
# Add more items to a set
another_set.add(22)
print (another_set)

{0, 1, 2, 3, 4, 5, 1.03, 'a', 22}

Just like in Maths, you can perform normal set operations on sets in Python. This is not that important for us, just good to know

In [108]:
# Do set intersection with &
other_set = {3, 4, 5, 6}
print (another_set & other_set)

# Do set union with |
print (another_set | other_set)  

# Do set difference with -
print ({1, 2, 3, 4} - {2, 3, 5}) 

# Do set symmetric difference with ^
print ({1, 2, 3, 4} ^ {2, 3, 5})  

# Check if set on the left is a superset of set on the right
print ({1, 2} >= {1, 2, 3})  

# Check if set on the left is a subset of set on the right
print ({1, 2} <= {1, 2, 3})

{3, 4, 5}
{0, 1, 2, 3, 4, 5, 1.03, 6, 'a', 22}
{1, 4}
{1, 4, 5}
False
True

In [109]:
# Check for existence in a set with in
print (2 in filled_set)  # => True
print (10 in filled_set)  # => False
print (10 not in filled_set) # => True

True
False
True

In [110]:
# Check data type of variable
print (type(li))   
print (type(filled_dict))  
print (type(5))

<class 'list'>
<class 'dict'>
<class 'int'>

You can perform some sensible type conversions easily using int(), str(), float() etc functions

In [111]:
#Converting type of variables
my_int = 1
my_float = 1.25
print ("float(my_int) =", float(my_int))
print ("str(my_int) =", str(my_int))
print ("int(my_float) =", int(my_float))
print ("str(my_float) =", str(my_float))

float(my_int) = 1.0
str(my_int) = 1
int(my_float) = 1
str(my_float) = 1.25

<div align="left" id="control"><a href="#contents"><font size="4" color="red"><b>CONTROL FLOW AND LOOPS</b></font></a></div>
<ol type="square">
    <li><a href="#control_indent">Indentation</a></li>
    <li><a href="#control_indent">If, elif and else</a></li>
    <li><a href="#control_for">'for' loops</a></li>
    <li><a href="#control_while">'while' loops</a></li>
    <li><a href="#control_except">Exception Handling</a></li>
</ol>

<div align="left" id="control_indent"><a href="#control"><font size="3" color="black"><b>Indentation</b></font></a></div>
Python uses indentation instead of braces to structure its programs and scripts into blocks. Indentation is very important aspect of Python and needs to be strictly adhered to while defining scope of different parts of the code

<div align="left" id="control_indent"> <font size="3" color="black"><b>If, elif and else</b></font> </div>
if. elif and else are used to execute the statements conditionally. <br><br>

<i>
if condition_1:<br>
&nbsp;&nbsp;&nbsp;&nbsp;#do something here<br>
elif condition_2:<br>
&nbsp;&nbsp;&nbsp;&nbsp;#do something here<br>
elif condition_3:<br>
&nbsp;&nbsp;&nbsp;&nbsp;#do something here<br>
else:<br>
&nbsp;&nbsp;&nbsp;&nbsp;#do something here<br>
</i>

In [112]:
some_var = 5

# Here is an if statement. Indentation is mandatory in python!
if some_var > 10:
    print ("some_var is totally bigger than 10.")
elif some_var < 10:  # This elif clause is optional.
    print ("some_var is smaller than 10.")
else:  # This is optional too.
    print ("some_var is indeed 10.")

some_var is smaller than 10.

All indentations have to be exactly of same size otherwise Python will throw an error. For example, in the example below, the second line has three spaces for indentations and third has four, so you get an error

In [113]:
if some_var>0:
   print("first")
    print("second")

IndentationError: unexpected indent (2591813189.py, line 3)

As a good practice, use one 'tab' or four spaces for indentation

In [116]:
name = "Guido"
if name == "Guido" and 4<2 and 2 in [1,2]:
    print ("It worked!")
else:
    print ("Whoops!")

Whoops!

In [117]:
if name == "Guido" and 4<2 or 2 in [1,2]:
    print ("It worked!")
else:
    print ("Whoops!")

It worked!

<div align="left" id="control_for"><a href="#control"><font size="3" color="black"><b>'for' loops</b></font></a></div>
The for loop  is used to iterate over elements of a sequence, it is often 
used when you have a piece of code which you want to repeat "n" number of times. The syntax looks like this:

<i>for element in some_sequence:<br>
&nbsp;&nbsp;&nbsp;&nbsp;#do something here</i>
    
Again, indentation is very important here

In the example below, every time the loop runs the variable "i" will intake a new value from the list "a". Now inside the loop this variable "i" can be used to do stuff

In [118]:
#looping using elements of a list
a = [1,2,3,4]
for i in a:
    print (i)

1
2
3
4

In [119]:
#looping using elements of a list
for animal in ["dog", "cat", "mouse"]:
    print (animal)

dog
cat
mouse

In the example below, we are using range() function to generate a list of all locations(i.e. indexes) in the list "a" and then storing those indexes in variable "i". Later inside the loop, we are using "i" to get the values from "a" at a particular index

In [120]:
#looping with location
a = ["dog", "cat", "mouse"]
for i in range(len(a)):
    print ("location is:",i, "value is:", a[i])

location is: 0 value is: dog
location is: 1 value is: cat
location is: 2 value is: mouse

In [121]:
#Can be used with strings also
#looping with elements
for character in "Python":
    print (character)

P
y
t
h
o
n

In [122]:
#looping with elements
for ii in "123445":
    print (ii)

1
2
3
4
4
5

In [123]:
#looping with location
s = "Python"
for i in range(len(s)):
    print (s[i])

P
y
t
h
o
n

In [124]:
#for loop with if
for i in range(10):
    if i%2==0:
        continue #continue forces the loop to continue with the next iteration
    if i%7==0:
        break #break forces loop to break
    print (i)

1
3
5

Notice how we use loops inside loops

In [125]:
#loop inside loop with elements
my_matrix = [[1, 2, 3],[4, 5, 6]]
for row in my_matrix:
    print("row is", row)
    for col in row:
        print (col)
    print ("\n") #scope of this print is inside of the first for loop

row is [1, 2, 3]
1
2
3


row is [4, 5, 6]
4
5
6

In [126]:
#loop inside loop with location
for row in range(len(my_matrix)):
    print("row is", row)
    for col in range(len(my_matrix[row])):
        print (my_matrix[row][col])
    print ("\n")

row is 0
1
2
3


row is 1
4
5
6

print() statements can easily be used to debug your code whenever you are not able to understand a complex code

<b>about the function range()</b>

"range(number)" returns a list of numbers from zero to the given number.<br>
"range(lower, upper)" returns a list of numbers from the lower number to the upper number minus one.<br>
This is exactly like what we do with lists li[a:b:c]. Just that instead of colon, we use a comma.
Here are some examples -

In [127]:
#range is an important function to generate arrays of integers
print (list(range(5)))
print (range(1,6))
print (range(1,6,2))

[0, 1, 2, 3, 4]
range(1, 6)
range(1, 6, 2)

<div align="left" id = "control_while"><a href="#control"><font size="3" color="black"><b>While loops</b></font></a></div>
The for loop above runs for a pre-determined number of iterations because before starting the loop we know how many elements are there in the list. However the while loop tells the computer to do something as long as a particular condition is met. Its construct consists of a block of code and a condition. The condition is evaluated, and if the condition is true, the code within the block is executed. This repeats until the condition becomes false. The syntax looks like this:

<i>while condition:<br>
&nbsp;&nbsp;&nbsp;&nbsp;#do something here</i>
    
Again, indentation is very important here

In [128]:
#while loop example
x = 0
while x < 4:
    print x
    x += 1 #  += is equivalent to x = x+1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (2923624917.py, line 4)

<div align="left" id="control_except"><a href="#control"><font size="3" color="black"><b>Exception handling</b></font></a></div>

<b>What is an Exception?</b><br>
An exception is an error that happens during execution of a program. When that
error occurs, Python generate an exception that can be handled, which avoids your
program to crash.<br>
<br>
<b>Why use Exceptions?</b><br>
Exceptions are convenient in many ways for handling errors and special conditions
in a program. When you think that you have a code which can produce an error then
you can use exception handling.<br>
<br>
<b>Raising an Exception</b><br>
You can raise an exception in your own program by using the raise exception
statement. Raising an exception breaks current code execution and returns the exception
back until it is handled.<br>
<br>
<b>Exception Errors</b><br>
Below is some common exceptions errors in Python:<br>

<b>IOError</b> : If the file cannot be opened.<br>

<b>ImportError</b> : If python cannot find the module<br>

<b>ValueError</b> : Raised when a built-in operation or function receives an argument that has the right type but an inappropriate value<br>

<b>KeyboardInterrupt</b> : Raised when the user hits the interrupt key (normally Control-C or Delete)<br>

<b>EOFError</b> : Raised when one of the built-in functions (input() or raw_input()) hits an end-of-file condition (EOF) without reading any data<br>

In [129]:
# Works on Python 2.6 and up:
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass  # Pass is just a no-op. Usually you would do recovery here.
except (TypeError, NameError):
    pass  # Multiple exceptions can be handled together, if required.
else:  # Optional clause to the try/except block. Must follow all except blocks
    print ("All good!")  # Runs only if the code in try raises no exceptions
finally:  # Execute under all circumstances
    print ("We can clean up resources here")

We can clean up resources here

That was little complicated and advanced. For now here is a simple example:

In [130]:
#A simpler example
n = int(input("Please enter a number: ")) #raw_input is used to take input from user
#When it asks, enter "abc"

Please enter a number: 2

input() is raw_input() in Python 2.x

In [131]:
#So it raised an error because you were trying to input a string, while the program was expecting integer
#here is how you fix it
while True:
    try:
        n = input("Please enter an integer: ")
        n = int(n)
        break
    except ValueError:
        print("No valid integer! Please try again ...")
print ("Great, you successfully entered an integer!")

Please enter an integer: 12
Great, you successfully entered an integer!

<div align="left" id="functions"><a href="#contents"><font size="4" color="red"><b>FUNCTIONS</b></font></a></div>
<ol type="square">
    <li><a href="#functions_built">Built-in Functions</a></li>
    <li><a href="#functions_methods">Methods</a></li>
    <li><a href="#functions_import">Importing Functions</a></li>
    <li><a href="#functions_user">User-defined Functions</a></li>
    <li><a href="#functions_scope">Scope of Variables</a></li>
    <li><a href="#functions_lambda">Lambda, Map, Reduce, and Filter</a></li>
    <li><a href="#functions_list">List Comprehension</a></li>
</ol>

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

Here is a simple example to understand what are functions and why they are so important. Suppose you want a pizza. So what you can do is, you simply open Dominos App and tell it which pizza you want, give them your address, pay and expect a delivery in 30mins or so. What happens here is you are giving some inputs to the Dominos app, it processes the inputs and delivers the output i.e. the Pizza. You do not have to worry about how Dominos is going to make the Pizza, find a delivery person and get the pizza delivered on time. Same goes for functions - they take some inputs and you can expect some output out of them. You do not have to worry about how the function is working internally. Think of print() function. Do you know how exactly it is taking the inputs from you and printing the output? No, right? And you would not want to know till the point print() function is taking the inputs and giving the output you want

<div align="left" id="functions_built"><a href="#functions"><font size="3" color="black"><b>Built-in Functions</b></font></a> </div>
Python has some built-in functions that are available  to use without importing any module e.g. len(), raw_input(), int(), str(), range() etc. Few of these you have already used above, here are some more examples :

In [132]:
#abs() prints the absolute value
print ("abs(-1) =", abs(-1))

abs(-1) = 1

In [133]:
#converts tuples to list
print (list({1,2,3}))

[1, 2, 3]

In [134]:
#returns x to the power of y
print(pow(3,2))

9

In [135]:
#Add items of an Iterable
print (sum([1,2,3,4]))

10

In [136]:
#max of items of an Iterable
print (max((1,2,3,4,0)))

4

In [137]:
#Invokes the built-in Help System
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

You can find more built-in functions on Google or <a href ="https://www.programiz.com/python-programming/methods/built-in">here</a>

<div align="left" id="functions_methods"><a href="#functions"><font size="3" color="black"><b>Methods</b></font></a></div>
A method is a piece of code that is called by name that is associated with an object. In most respects it is identical to a function except for two key differences:
<ul>
    <li>A method is implicitly passed the object on which it was called.</li>
    <li>A method is able to operate on data that is contained within the class</li>
</ul><br>
We will explain objects and classes later. Lets see some example of methods :

In [138]:
#List Methods
my_list = [6, 2, 4, 7]
my_list.append(5)
print (my_list)

[6, 2, 4, 7, 5]

In [139]:
my_list.sort()
print (my_list)

[2, 4, 5, 6, 7]

In [140]:
my_list.sort(reverse=True)
print (my_list)

[7, 6, 5, 4, 2]

You can find more list methods on Google or <a href ="https://www.programiz.com/python-programming/methods/list">here</a>. You are also encouraged to explore <a href ="https://www.programiz.com/python-programming/methods/dictionary">dictionary methods</a>, <a href ="https://www.programiz.com/python-programming/methods/string">string methods</a> etc.

In [141]:
#dictionary methods
my_dict = {"a":1, "b":2, "c":3}
print ("keys =", my_dict.keys())
print ("values =", my_dict.values())
print ("items =", my_dict.items())

keys = dict_keys(['a', 'b', 'c'])
values = dict_values([1, 2, 3])
items = dict_items([('a', 1), ('b', 2), ('c', 3)])

In [142]:
#string methods
my_string = "Hello World!"
#Checks if All Characters are Alphabets
print ("my_string.isalpha() =", my_string.isalpha())
print ("my_string[:5].isalpha() =", my_string[:5].isalpha())
#converts to lowercase
print ("my_string.lower() =", my_string.lower()) #try upper()
#	Returns the Highest Index of Substring
print ("my_string.find('H') =", my_string.find('H'))

my_string.isalpha() = False
my_string[:5].isalpha() = True
my_string.lower() = hello world!
my_string.find('H') = 0

<div align="left" id="functions_import"> <a href="#functions"> <font size="3" color="black"><b>Importing Functions</b></font> </a></div>
There are multiple pre-built libraries from which you can import functions

In [143]:
#Importing a library
import math
print (math.sqrt(16))

4.0

In [144]:
#Importing a particular function from a library
from math import sqrt
print (sqrt(16)) #No need to write math.sqrt

4.0

In [145]:
#Importing everything from a library
from math import *
print (sqrt(16)) #No need to write math.sqrt
print (sin(pi/2)) #pi is defined inside "math" library

4.0
1.0

In [146]:
#modules may have sub modules, in which case you can use dot (.)
from sklearn.preprocessing import StandardScaler

In [147]:
#To get help on a fucntion or library you can use help() function
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [148]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [149]:
#To get all modules currently installed on your system.takes some time to run, you can uncomment and run, when you have time
#help("modules")

You can install new modules in Jupyter using pip install command like below

In [ ]:
pip install beautifulsoup4

<div align="left" id="functions_user"><a href="#functions"><font size="3" color="black"><b>User-defined Functions</b></font> </a></div>
Python being a general purpose language allows users to define their own functions. This is also a strong reason to use Python as you can easily find libraries/modules(which is just a collection of functions) online which have been created by many Python programmers and can utilize them in your work.<br>
A function can be defined using the keyword "def" like this:<br>

<i>def my_function(your_parameters_here):
    #do something
    #return statement (it's optional though)
my_function(arguments_for_your_parameters_here)</i><br>
<div align="left"> <font size="3" color="black"><b>Parameters vs Arguments</b></font> </div>
A parameter is a variable in a method definition. When a method is called, the arguments are the data you pass into the method's parameters.
Lets see some examples.

In [150]:
#A function without any parameters and without any return
def bark():
    print ("bark! bark!")
bark()

bark! bark!

In [151]:
#A function with parameters and which doesn't return anything
def add(a,b):
    print ("a+b is", a+b)
#calling the function
add(2,3)

a+b is 5

In above example, 2 and 3 are arguments to parameters a and b

In [152]:
#A function with parameters and which returns something
def multiply(a,b):
    return a*b
multiply(2,3)

6

In [153]:
#A function with default parameters
def divide(a=5, b=1):
    return a/b
print ("divide() =",divide())
print ("divide(10) =",divide(10))
print ("divide(10,5) =",divide(10,5))

divide() = 5.0
divide(10) = 10.0
divide(10,5) = 2.0

<div align="left" id="functions_scope"><a href="#functions"><font size="3" color="black"><b>Scope of Variables</b></font></a></div>

Python employs the following scoping hierarchy, in decreasing order of breadth: 
<ol type="square">
    <li><b>Built-in (Python)</b> : Predefined names (len, open, execfile, etc.) and types</li>
    <li><b>Global (module)</b> : Names assigned at the top level of a module, or directly in the interpreter</li>
    <li><b>Local (function)</b> : Names assigned inside a function definition or loop</li>
</ol>
Local variables are only accessible inside the module/function where they were first defined. You can declare  variables to be "global" inside a function, in which case you can access them from outside too.
<br>Global variables can be accessed from anywhere, even when you are inside a function

In [154]:
global_variable = 1 #You can access this anywhere 
def f():
    f_local_variable = 2 #You can access this only inside f(x)
    global f_declared_global_variable
    f_declared_global_variable = 3 #You can access this anywhere because we declared it global
    
def g():
    print ("#####  Inside function  #####")
    g_local_variable = 4 #You can access this only inside g(x)
    global g_declared_global_variable
    g_declared_global_variable = 5 #You can access this anywhere because we declared it global
    try:
        print (global_variable)
    except NameError:
        print ("Error printing global_variable ")
    try:
        print (f_local_variable)
    except NameError:
        print ("Error printing f_local_variable ")
    try:
        print (g_local_variable)
    except NameError:
        print ("Error printing g_local_variable ")
    try:
        print (f_declared_global_variable)
    except NameError:
        print ("Error printing f_declared_global_variable")
    try:
        print (g_declared_global_variable)
    except NameError:
        print ("Error printing g_declared_global_variable")
g()

print ("#####  Outside function  #####")

try:
    print (global_variable)
except NameError:
    print ("Error printing global_variable ")
try:
    print (f_local_variable)
except NameError:
    print ("Error printing f_local_variable ")
try:
    print (g_local_variable)
except NameError:
    print ("Error printing g_local_variable ")
try:
    print (f_declared_global_variable)
except NameError:
    print ("Error printing f_declared_global_variable")
try:
    print (g_declared_global_variable)
except NameError:
    print ("Error printing g_declared_global_variable")

#####  Inside function  #####
1
Error printing f_local_variable
4
Error printing f_declared_global_variable
5
#####  Outside function  #####
1
Error printing f_local_variable
Error printing g_local_variable
Error printing f_declared_global_variable
5

Why did it give "Error printing f_declared_global_variable"? Shoudn't it have printed a global variable?<br>





<div align="right">
<a href="#createvar" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="createvar" class="collapse">
```
It is because f() never ran(we didn't call it) and hence the variables inside f() were not assigned.
```
</div>

In [155]:
#An example of recursive function
def factorial(n):
    if n==1: return n
    else: return n*factorial(n-1)
print (factorial(5))

120

In [156]:
#returning multiple outputs
def multiple_outputs(x,y):
    return x+1, y+1
print (multiple_outputs(1,2)) #returns a tuple

(2, 3)

<div align="left" id="functions_lambda"><a href="#functions"><font size="3" color="black"><b>Lambda, Map, Reduce, and Filter</b></font></a></div>
<b>lambda</b> operator or lambda function is used for creating small, one-time and anonymous function objects in Python. lambda operator can have any number of arguments, but it can have only one expression. It cannot contain any statements and it returns a function object which can be assigned to any variable. The syntax is as below <br>
<i>    lambda arguments : expression</i>

In [157]:
#lambda operator or lambda function is used for creating small, one-time and anonymous function objects in Python
def add(x, y): 
    return x + y
  
# Call the function
print ("With defined function ",add(2, 3)) 

#Equivalent lambda
add = lambda x, y : x + y 
print ("With lambda ",add(2, 3))

With defined function  5
With lambda  5

<b>map</b> functions expects a function object and any number of iterables like list, dictionary, etc. It executes the function_object for each element in the sequence and returns an iterator of the elements modified by the function object. The iterator can be converted to list using list() function

In [158]:
#map functions expects a function object and any number of iterables like list, dictionary, etc. 
#It executes the function_object for each element in the sequence and 
#returns a list of the elements modified by the function object.

def multiply2(x):
    return x*2
print ("With defined function ",list(map(multiply2, [1, 2, 3, 4]))) 

print ("With lambda ", list(map(lambda x : x*2, [1, 2, 3, 4])))

With defined function  [2, 4, 6, 8]
With lambda  [2, 4, 6, 8]

In [159]:
#list of two dictionaries
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
print ("Example 1:", list(map(lambda x : x['name'], dict_a)))
print ("Example 2:", list(map(lambda x : x['points']*10,  dict_a))) 
print ("Example 3:", list(map(lambda x : x['name'] == "python", dict_a)))

Example 1: ['python', 'java']
Example 2: [100, 80]
Example 3: [True, False]

In [160]:
#We can pass multiple sequences to the map functions
list_a = [1, 2, 3]
list_b = [10, 20, 30]
print (list(map(lambda x, y: x + y, list_a, list_b)) )

[11, 22, 33]

<b>filter</b> function expects two arguments, function_object and an iterable. function_object returns a boolean value. function_object is called for each element of the iterable and filter returns only those element for which the function_object returns true.

Like map function, filter function also returns a list of element. Unlike map function filter function can only have one iterable as input. Syntax is like this :
<i>filter(function_object, iterable)</i>

In [161]:
#filter function expects two arguments, function_object and an iterable. 
#function_object returns a boolean value. 
#function_object is called for each element of the iterable and 
# filter returns only those element for which the function_object returns true. You need to use list() function here too
a = [1, 2, 3, 4, 5, 6]
print(list(filter(lambda x : x % 2 == 0, a)))

[2, 4, 6]

In [162]:
a = [1, 2, 3, 4, 5, 6]
print(list(map(lambda x : x % 2 == 0, a)))

[False, True, False, True, False, True]

In [163]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
print (list(filter(lambda x : x['name'] == 'python', dict_a)))

[{'name': 'python', 'points': 10}]

The function <b>reduce</b>(func, seq) continually applies the function func() to the sequence seq. It returns a single value.

In [164]:
from functools import reduce
#The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value.
print (reduce(lambda x,y: x+y, [47,11,42,13]))

113

In [165]:
#Calculating the sum of the numbers from 1 to 100
print (reduce(lambda x, y: x+y, range(1,101)))

5050

In [169]:
print (reduce(lambda x, y: x+y, range(1,4)))

6

In [167]:
print (reduce(lambda x, y: x+y, range(1,5)))

10

In [170]:
#Determining the maximum of a list of numerical values by using reduce
reduce(lambda a,b: a if (a > b) else b, [47,11,42,102,13])

102

<div align="left" id="functions_list"><a href="#functions"><font size="3" color="black"><b>List Comprehension</b></font></a> </div>
List comprehension is an elegant way to define and create list in Python

In [171]:
#We can use list comprehensions for nice maps and filters
print ([pow(i,2) for i in [1, 2, 3, 4]])

[1.0, 4.0, 9.0, 16.0]

In [181]:
#We can use list comprehensions for nice maps and filters
print ([pow(i,1) for i in [1, 2, 3, 4]])

[1.0, 2.0, 3.0, 4.0]

In [182]:
#We can use list comprehensions for nice maps and filters
print ([pow(i,2) for i in [1, 2, 3, 4]])

[1.0, 4.0, 9.0, 16.0]

In [183]:
#We can use conditionals too
print ([pow(i,2) for i in [1, 2, 3, 4] if i%2 == 0])

[4.0, 16.0]

In [184]:
#if-else is allowed too
print ([pow(i,2) if i%2 == 0 else i*10.0 for i in [1, 2, 3, 4]])

[10.0, 4.0, 30.0, 16.0]

In [185]:
# You can construct set and dict comprehensions as well.
print ({x for x in 'abcddeef' if x in 'abc'})  
print ({x: x ** 2 for x in range(5)})

{'c', 'a', 'b'}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

<div align="left" id="classes"><a href="#contents"><font size="4" color="red"><b>CLASSES</b></font></a></div>

Python is an “object-oriented programming language.” This means that almost all the code is implemented using a special construct called classes. Programmers use classes to keep related things together.


<div align="left"> <font size="3" color="black"><b>What is a class?</b></font> </div>
A class is a code template for creating objects. Objects have member variables and have behaviour associated with them. In python a class is created by the keyword class.

An object is created using the <i>constructor</i> of the class. This object will then be called the <i>instance</i> of the class. In Python we create instances in the following manner<br>
<i>Instance = class(arguments)</i>

<div align="left"> <font size="3" color="black"><b>How to create a class?</b></font> </div>
The simplest class can be created using the class keyword. For example, let's create a simple, empty class with no functionalities.

In [186]:
class Snake:
        pass
snake = Snake()
print (snake)

<__main__.Snake object at 0x000001BE86C88040>

<div align="left"> <font size="3" color="black"><b>Attributes and Methods in class</b></font> </div>
A class by itself is of no use unless there is some functionality associated with it. Functionalities are defined by setting attributes, which act as containers for data and functions related to those attributes. Those functions are called methods.<br><br>
<b>Attributes:</b><br>
You can define the following class with the name Snake. This class will have an attribute <i>name</i>. You can assign the class to a variable. This is called <i>object instantiation</i>. You will then be able to access the attributes that are present inside the class using the dot (.) operator. For example, in the Snake example, you can access the attribute name of the class Snake.

In [187]:
class Snake:
    name = "python"
snake = Snake()
print (snake.name)

python

<b>Methods</b><br>
Once there are attributes that "belong" to the class, you can define functions that will access the class attribute. These functions are called <i>methods</i>. When you define methods, you will need to always provide the first argument to the method with a self keyword.

For example, you can define a class Snake, which has one attribute name and one method change_name. The method change name will take in an argument new_name along with the keyword self.

In [188]:
class Snake:
    name = "python"
    
    def change_name(self, new_name): # note that the first argument is self
        self.name = new_name # access the class attribute with the self keyword
# instantiate the class
snake = Snake()

# print the current object name 
print ("Current Name: ", snake.name)

# change the name using the change_name method
snake.change_name("anaconda")
print ("Current Name: ", snake.name)

Current Name:  python
Current Name:  anaconda

<b>Instance attributes in python and the init method</b><br>
You can also provide the values for the attributes at runtime. This is done by defining the attributes inside the init method. The following example illustrates this.

In [189]:
class Snake:

    def __init__(self, name):
        self.name = name

    def change_name(self, new_name):
        self.name = new_name
# two variables are instantiated
python = Snake("python")
anaconda = Snake("anaconda")

# print the names of the two variables
print ("First name :",python.name)
print ("Second name :",anaconda.name)

First name : python
Second name : anaconda

A little advanced example

In [190]:
# We subclass from object to get a class.
class Human(object):
    # A class attribute. It is shared by all instances of this class
    species = "H. sapiens"

    # Basic initializer, this is called when this class is instantiated.
    # Note that the double leading and trailing underscores denote objects
    # or attributes that are used by python but that live in user-controlled
    # namespaces. You should not invent such names on your own.
    def __init__(self, name):
        # Assign the argument to the instance's name attribute
        self.name = name

        # Initialize property
        self.age = 0

    # An instance method. All methods take "self" as the first argument
    def say(self, msg):
        return "{0}: {1}".format(self.name, msg)

    # A class method is shared among all instances
    # They are called with the calling class as the first argument
    @classmethod
    def get_species(cls):
        return cls.species

    # A static method is called without a class or instance reference
    @staticmethod
    def grunt():
        return "*grunt*"

    # A property is just like a getter.
    # It turns the method age() into an read-only attribute
    # of the same name.
    @property
    def age(self):
        return self._age

    # This allows the property to be set
    @age.setter
    def age(self, age):
        self._age = age

    # This allows the property to be deleted
    @age.deleter
    def age(self):
        del self._age

In [191]:
# Instantiate a class
i = Human(name="Ian")
print (i.say("hi"))

Ian: hi

In [192]:
j = Human("Joel")
print (j.say("hello"))

Joel: hello

In [193]:
# Call our class method
i.get_species()

'H. sapiens'

In [194]:
# Change the shared attribute
Human.species = "H. neanderthalensis"
print (i.get_species()) 
print (j.get_species())

H. neanderthalensis
H. neanderthalensis

In [195]:
# Call the static method
Human.grunt()

'*grunt*'

In [196]:
print ("Before Updating :", i.age ) 
# Update the property
i.age = 42

# Get the property
print ("After Updating :", i.age)

Before Updating : 0
After Updating : 42

In [197]:
# Delete the property
del i.age
i.age

AttributeError: 'Human' object has no attribute '_age'

<div align="left" id="fileio"><a href="#contents"><font size="4" color="red"><b>FILE I/O</b></font></a></div>

You can read-write data with Python to a file on your disk<br><br>
<b>How to open a file?</b><br>
Python has a built-in function <b>open()</b> to open a file. This function returns a file object, also called a handle, as it is used to read or modify the file accordingly. open() works like this:<br>
<i>open(file_location_here, mode_here)</i>

<b>Changing working Directory</b>

In [198]:
#Setting the working directory
import os
print ("Before changing: ", os.getcwd())

#You can either convert all backword slashes to forward slashes or just use "r" before the path
os.chdir(r"C:\Users\utsav.awasthi\Downloads")

print ("After changing: ", os.getcwd())

Before changing:  C:\BITsPilaniMTECH2123\Sem3\DL\HandsOn_DL_2023

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\utsav.awasthi\\Downloads'

In [199]:
#opening in write mode
test = open("test.txt","w")    # open file in current directory
test2 = open(r"C:\Users\utsav.awasthi\Downloads\test2.txt","w")  # specifying full path
#Google for full lists of file opening modes

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\utsav.awasthi\\Downloads\\test2.txt'

All different type of modes are listed <a href="https://stackoverflow.com/a/23566951">here</a>

<b>How to write to a file?</b><br>
Python has a built-in method <b>write()</b> to write to a file. write() works like this:<br>
<i>filehandle.write(string_to_write)</i>

In [200]:
#method write() writes to the file handle
test.write("This is the first line.\n")
test.write("This is the second line.")

24

Remember to close the file after the use

In [201]:
#You must close the file after use of it stays in the memory
test.close()

<b>How to read a file?</b><br>
You have three options after opening the file in read mode:<br>
<ul>
    <li>read(n) : Read atmost n characters form the file. Reads till end of file if it is negative or None.</li>
    <li>readline(n=-1) : Read and return one line from the file. Reads in at most n bytes if specified.</li>
    <li>readlines(n=-1) : Read and return a list of lines from the file. Reads in at most n bytes/characters if specified.</li>
</ul>

In [202]:
#read(n) reads all the lines into a string
test = open("test.txt","r") 
print (test.read())

This is the first line.
This is the second line.

In [203]:
#Once the file is read(like above), the cursor moves to the final location and you cannot read anything more
print (test.readlines())
test.close()

[]

In [204]:
#readlines() all the lines in a list of lines
test = open("test.txt","r") 
print (test.readlines())
test.close()

['This is the first line.\n', 'This is the second line.']

<b>I don't like closing files all the time</b><br>
You can use "with" keyword

In [206]:
#Using "with" keyword you don't need to close the files manually
with open("test2.txt","w") as test2:
    for i in range(5):
        test2.write(str(i)+'\n')
with open("test2.txt","r") as test2:
    for line in test2.readlines():
        print(line.strip())

0
1
2
3
4

<div align="left"> <font size="4" color="red"><b>TABLE OF CONTENTS</b></font> </div>
<ol type="square">
    <li><a href="#regex">Regular Expressions</a></li>
    <li><a href="#numpy">NumPy</a></li>
    <li><a href="#pandas">Pandas</a></li>
    <li><a href="#mat">matplotlib.pyplot</a></li>
</ol>

<div align="left" id="regex"><a href="#contents"><font size="4" color="red"><b>REGULAR EXPRESSIONS</b></font></a></div>
<ol type="square">
    <li><a href="#regex_simple">Simple Matching</a></li>
    <li><a href="#regex_re">re module</a></li>
    <li><a href="#regex_wild">Wild Card Characters: Special Characters</a></li>
    <li><a href="#regex_rep">Repetitions</a></li>
    <li><a href="#regex_groups">Groups and Grouping</a></li>
    <li><a href="#regex_greedy">Greedy vs Non-Greedy Matching</a></li>
</ol>

Regular Expressions (or regex in short) are a powerful tool to find patterns in a text data. For example if we have a really big word document, given enough time (and motivation) a human can read the whole document and make a list of all emails and phone numbers mentioned anywhere in the document.<br>
With computers, you can do the same thing just by telling it what pattern it should look for. Like in Phone number the pattern could be any one of these XXXXXXXXXX or XXX XXX XXXX or XXXXX XXXXX etc. Or in case of emails it is SOME&#95;TEXT&#64;SOME&#95;TEXT.SOME&#95;TEXT

<div align="left" id ="regex_simple"> <a href="#regex"><font size="3" color="black"><b>Simple Matching</b></font></a></div>

There are multiple string methods available by default, which you use to perform basic pattern matching<br>

In [209]:
#checking presence of a substring
my_string = "Hi! How are you?"
if "are" in my_string:
    print ("Present")
else:
    print ("Absent")

Present

In [210]:
#matching is case-sensitive
if "Are" in my_string:
    print ("Present")
else:
    print ("Absent")

Absent

In [211]:
#As we have seen in Module 1, the "in" operator also works with lists, tubles, sets and dictionaries

#mystr.find(’am’, <start to search from index>, <end search at index>) - outputs "-1" if not found
print (my_string.find("are"))
print (my_string.find("Hi",1))
print (my_string.find("Hi",0,1))

8
-1
-1

In [212]:
#rfind() finds from back
print ("rfind example : ", my_string.rfind("are"))

rfind example :  8

In [213]:
#index is similar to find, but raises ValueError if not present.
print ("index example : ", my_string.index("are"))

index example :  8

In [214]:
#You can also check if a string starts or ends with a particular substring
print (my_string.startswith("H"))
print (my_string.endswith("!"))

True
False

The following methods return True if the string only contains characters of the appropiate type, False otherwise :<br>
<b>isalpha()</b> - alphabetic<br>
<b>isdigit()</b> - digits<br>
<b>isdecimal()</b> - float numbers, etc<br>
<b>isnumeric()</b> - similar, covers special chars like ½<br>
<b>isalnum()</b> - all of above<br>
<b>islower()</b> - contains only lowercase<br>
<b>isupper()</b> - contains only uppercase<br>
<b>isspace()</b> - contains only whitespace<br>

In [215]:
print ("Hello world!".isalpha()) 
print ("Helloworld".isalpha())

False
True

In [216]:
#replace doesn't modify the string
my_string = "My Grade is D!"
print (my_string.replace("D!","A+!"))
print (my_string)

My Grade is A+!
My Grade is D!

In [217]:
#You can use lstrip(), rstrip() or strip(). These are used to remove leading or trailing white spaces
my_string = "\tHow are you?   "
print (">"+my_string.strip()+"<")
#Again the string is not modified
print (">"+my_string+"<")

>How are you?<
>	How are you?   <

In [218]:
#split() can be used to split the line into list of words
my_string = "\tHow are\tyou?\t\t"
print (my_string.split())
print (my_string.split(" ")) #split by spaces
print (my_string.split("\t"))#split by tabs

['How', 'are', 'you?']
['\tHow', 'are\tyou?\t\t']
['', 'How are', 'you?', '', '']

<div align="left" id ="regex_re"> <a href="#regex"><font size="3" color="black"><b>re module</b></font></a></div>

Regular expressions are used to identify whether a pattern exists in a given sequence of characters (string) or not. They help in manipulating text data, which is often a pre-requisite for data science projects that involve text mining<br><br>
In Python, the "re" module provides the support for regular expressions. We will discuss few methods inside this module<br><br>

In [219]:
import re
pattern = r"Cookie" # r at the begining is called a raw string literal
sequence = "Cookie"
if re.match(pattern, sequence):
     print ("Match!")
else: print("Not a match!")

Match!

r at the begining is called a raw string literal. It changes how the string literal is interpreted. Such literals are stored as they appear. <br><br>
search ⇒ find something anywhere in the string and return a match object.<br>
match ⇒ find something at the beginning of the string and return a match object.

Both of them return a match object if something is found, otherwise "None"

In [220]:
# example code:
string_with_newlines = """something
someotherthing"""

import re

print (re.match('some', string_with_newlines)) # matches
print (re.match('someother', string_with_newlines)) # won't match
print (re.search('someother', string_with_newlines)) # finds something

<re.Match object; span=(0, 4), match='some'>
None
<re.Match object; span=(10, 19), match='someother'>

### group, start, end, and span

In [222]:
r1 = re.search("a*b","fooaaabcde") #search occurance of "a", followed by anything, followed by "b"
print (r1)
print (r1.group())  # group returns string matched
print (r1.start())  # index of the match start
print (r1.end())    # index of the match end
print (r1.span())   # tuple of (start, end)

<re.Match object; span=(3, 7), match='aaab'>
aaab
3
7
(3, 7)

<div align="left" id ="regex_wild"> <a href="#regex"><font size="3" color="black"><b>Wild Card Characters: Special Characters</b></font></a></div>

Special characters are characters which do not match themselves as seen but actually have a special meaning when used in a regular expression.

The most widely used special characters are as listed below.

In [223]:
#. - A period. Matches any single character except newline character
print (re.search(r'Co.k.e', 'Cookie').group())

Cookie

In [224]:
#\w - Lowercase w. Matches any single letter, digit or underscore
print (re.search(r'Co\wk\we', 'Cookie').group())
#\W - Uppercase w. Matches any character not part of \w (lowercase w).
print (re.search(r'C\Wke', 'C@ke').group())

Cookie
C@ke

In [225]:
#\s - Lowercase s. Matches a single whitespace character like: space, newline, tab, return. 
print (re.search(r'Eat\scake', 'Eat cake').group())
#\S - Uppercase s. Matches any character not part of \s (lowercase s).
print (re.search(r'Cook\Se', 'Cookie').group())

Eat cake
Cookie

In [226]:
#\t - Lowercase t. Matches tab.
print (re.search(r'Eat\tcake', 'Eat	cake').group())
#\n - Lowercase n. Matches newline.
#\r - Lowercase r. Matches return.

Eat	cake

In [227]:
#\d - Lowercase d. Matches decimal digit 0-9.
print (re.search(r'c\d\dkie', 'c08kie').group())

c08kie

In [228]:
#^ - Caret. Matches a pattern at the start of the string.
print (re.search(r'^Eat', 'Eat cake').group())

#$ - Matches a pattern at the end of string.
print (re.search(r'cake$', 'Eat cake').group())

Eat
cake

In [229]:
#[abc] - Matches a or b or c. The first occurance only
print (re.search(r'[abc]', 'abccdbc').group())
#[a-zA-Z0-9] - Matches any letter from (a to z) or (A to Z) or (0 to 9). 
#Characters that are not within a range can be matched by complementing the set. 
#If the first character of the set is ^, all the characters that are not in the set will be matched.

a

In [230]:
print (re.search(r'Number: [0-6]', 'Number: 54').group())

# Matches any character except 5
print (re.search(r'Number: [^5]', 'Number: 03').group())

Number: 5
Number: 0

In [231]:
#re.findall() finds all matches
print(re.findall("\d+","12 dogs,11 cats, 1 egg"))

['12', '11', '1']

In [232]:
#re.sub substitutes one string for a pattern
re.sub('(blue|white|red)', 'black', 'blue socks and red shoes')

'black socks and black shoes'

<div align="left" id ="regex_rep"> <a href="#regex"><font size="3" color="black"><b>Repetitions</b></font></a></div>

### It becomes quite tedious if you are looking to find long patterns in a sequence. Fortunately, the re module handles repetitions using the following special characters:

In [233]:
#+ - Checks for one or more characters to its left.
re.search(r'Co+kie', 'Cooookie').group()

'Cooookie'

In [234]:
#* - Checks for zero or more characters to its left.
re.search(r'Ca*o*kie', 'Caokie').group()

'Caokie'

In [235]:
#? - Checks for exactly zero or one character to its left.
re.search(r'Colou?r', 'Color').group()

'Color'

In [236]:
#We can check for exact number of repetitions too

#{x} - Repeat exactly x number of times.
#{x,} - Repeat at least x times or more.
#{x, y} - Repeat at least x times but no more than y times.
re.search(r'\d{9,10}', '09876543219').group()
#goes till only 1

'0987654321'

<div align="left" id ="regex_groups"> <a href="#regex"><font size="3" color="black"><b>Groups and Grouping</b></font></a></div>

Now suppose when you're validating email addresses and want to check the user name and host separately. This is when the 'group' feature of regular expression comes in handy. It allows you to pick up parts of the matching text. The groups are seperated using parentheses i.e. ()

In [237]:
email_address = 'Please contact us at: support@citi.com'
match = re.search(r'([\w\.-]+)@([\w\.-]+)', email_address) 
if match: 
    print (match.group()) # The whole matched text 
    print (match.group(1)) # The username (group 1) 
    print (match.group(2)) # The host (group 2)

support@citi.com
support
citi.com

In [238]:
#We can also group 'groups'

pat2 = "(\w+)@((\w+\.)+(com|org|net|edu))"
r2 = re.match(pat2,"finin@cs.umbc.edu")
print (r2.group(1))
print (r2.group(2))
print (r2.groups())

finin
cs.umbc.edu
('finin', 'cs.umbc.edu', 'umbc.', 'edu')

In [239]:
#We can ‘label’ the groups as well and reference the matching parts by the labels
pat3 ="(?P<name>\w+)@(?P<host>(\w+\.)+(com|org|net|edu))"
r3 = re.match(pat3,"finin@cs.umbc.edu")
print (r3.group('name'))
print (r3.group('host'))

finin
cs.umbc.edu

<div align="left" id ="regex_greedy"> <a href="#regex"><font size="3" color="black"><b>Greedy vs Non-Greedy Matching</b></font></a></div>


When a special character matches as much of the search sequence (string) as possible, it is said to be a "Greedy Match". It is the normal behavior of a regular expression but sometimes this behavior is not desired:

In [240]:
heading  = r'<h1>TITLE</h1>'
re.match(r'<.*>', heading).group()

'<h1>TITLE</h1>'

<div align="left" id="numpy"><a href="#contents"><font size="4" color="red"><b>NUMPY</b></font></a></div>
<ol type="square">
    <li><a href="#numpy_arrays">Arrays</a></li>
    <li><a href="#numpy_matrix">Matrix Operations</a></li>
    <li><a href="#numpy_index">Indexing and Slicing</a></li>
    <li><a href="#numpy_tricks">Some Tricks</a></li>
</ol>

NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices. It has a large collection of high-level mathematical functions to operate on these arrays. Numpy is not a default pacakge in Python and you will need to install it first. Luckily it comes pre-installed in Anaconda<br>
You might ask why a seperate package/module for matrics. The answer is that all the algorithms in machine learning or Deep Learning or AI internally work their magic using matrices. So it is very important to have a module which has highly optimized mathematical operations on matrices

<div align="left" id ="numpy_arrays"> <a href="#numpy"><font size="3" color="black"><b>Arrays</b></font></a></div>
<br>
NumPy Array is a datatype defined inside numpy library, just like list is a datatype available by default. Computation with NumPy arrays is much faster than the native lists

In [242]:
import numpy as np

In [243]:
#Creating array with list of lists
#1D array
print ("1d : \n", np.array([1,2,3]))

1d :
 [1 2 3]

In [244]:
#2D array
print ("2d : \n", np.array([[1,2,3],[4,5,6]])) #notice the list of lists

2d :
 [[1 2 3]
 [4 5 6]]

In [245]:
#With arange() funciton
print (np.arange(10))  # like Python's range, but returns an array
print (np.arange( 10, 30, 5 )) #start, end, step

[0 1 2 3 4 5 6 7 8 9]
[10 15 20 25]

In [246]:
# it accepts float arguments
print (np.arange( 0, 2, 0.3 ))

[0.  0.3 0.6 0.9 1.2 1.5 1.8]

In [247]:
#With rearranging
print (np.arange(6).reshape((3, 2))) #reshaping arange to a 3x2 array

[[0 1]
 [2 3]
 [4 5]]

In [248]:
#reshape is also a function
print (np.reshape([1,2,3,4,5,6], (3,2)))

[[1 2]
 [3 4]
 [5 6]]

In [249]:
#an array of zeroes
print (np.zeros( (3,4) ))

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [250]:
#a 3d array of ones
print (np.ones( (2,3,4), dtype=np.int16 ))

[[[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]

 [[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]]

In [251]:
#an identity matrix
print (np.identity(3))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [252]:
#Certain attributes
a = np.arange(30).reshape(3, 5, 2) #3 arrays of dimension 5x2
print ("a :\n", a)
print ('Attribuites of a:\n')
print ("Shape:", a.shape)
print ("Dimensions:", a.ndim)
print ("itemsize:", a.itemsize) #Length of one array element in bytes
print ("Data type:", a.dtype)
print ("Size:", a.size) #number of elements
print ("Type:", type(a))

a :
 [[[ 0  1]
  [ 2  3]
  [ 4  5]
  [ 6  7]
  [ 8  9]]

 [[10 11]
  [12 13]
  [14 15]
  [16 17]
  [18 19]]

 [[20 21]
  [22 23]
  [24 25]
  [26 27]
  [28 29]]]
Attribuites of a:

Shape: (3, 5, 2)
Dimensions: 3
itemsize: 4
Data type: int32
Size: 30
Type: <class 'numpy.ndarray'>

In [253]:
#You can specify the data type while creating arrays
a = np.array( [ [1,2], [3,4] ], dtype=complex )
print ("a: \n", a)
print ("a.dtype:", a.dtype)

a:
 [[1.+0.j 2.+0.j]
 [3.+0.j 4.+0.j]]
a.dtype: complex128

In [254]:
#Using linspace you can create evenly spaced numbers over a specified interval
print (np.linspace( 0, 2, 9 ))                 # 9 numbers from 0 to 2

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

In [255]:
a = np.linspace( 0, 2*np.pi, 100 ) #numpy has pi defined inside of it
print (a)
print (np.sin(a))

[0.         0.06346652 0.12693304 0.19039955 0.25386607 0.31733259
 0.38079911 0.44426563 0.50773215 0.57119866 0.63466518 0.6981317
 0.76159822 0.82506474 0.88853126 0.95199777 1.01546429 1.07893081
 1.14239733 1.20586385 1.26933037 1.33279688 1.3962634  1.45972992
 1.52319644 1.58666296 1.65012947 1.71359599 1.77706251 1.84052903
 1.90399555 1.96746207 2.03092858 2.0943951  2.15786162 2.22132814
 2.28479466 2.34826118 2.41172769 2.47519421 2.53866073 2.60212725
 2.66559377 2.72906028 2.7925268  2.85599332 2.91945984 2.98292636
 3.04639288 3.10985939 3.17332591 3.23679243 3.30025895 3.36372547
 3.42719199 3.4906585  3.55412502 3.61759154 3.68105806 3.74452458
 3.8079911  3.87145761 3.93492413 3.99839065 4.06185717 4.12532369
 4.1887902  4.25225672 4.31572324 4.37918976 4.44265628 4.5061228
 4.56958931 4.63305583 4.69652235 4.75998887 4.82345539 4.88692191
 4.95038842 5.01385494 5.07732146 5.14078798 5.2042545  5.26772102
 5.33118753 5.39465405 5.45812057 5.52158709 5.58505361 5.64852012
 5.71198664 5.77545316 5.83891968 5.9023862  5.96585272 6.02931923
 6.09278575 6.15625227 6.21971879 6.28318531]
[ 0.00000000e+00  6.34239197e-02  1.26592454e-01  1.89251244e-01
  2.51147987e-01  3.12033446e-01  3.71662456e-01  4.29794912e-01
  4.86196736e-01  5.40640817e-01  5.92907929e-01  6.42787610e-01
  6.90079011e-01  7.34591709e-01  7.76146464e-01  8.14575952e-01
  8.49725430e-01  8.81453363e-01  9.09631995e-01  9.34147860e-01
  9.54902241e-01  9.71811568e-01  9.84807753e-01  9.93838464e-01
  9.98867339e-01  9.99874128e-01  9.96854776e-01  9.89821442e-01
  9.78802446e-01  9.63842159e-01  9.45000819e-01  9.22354294e-01
  8.95993774e-01  8.66025404e-01  8.32569855e-01  7.95761841e-01
  7.55749574e-01  7.12694171e-01  6.66769001e-01  6.18158986e-01
  5.67059864e-01  5.13677392e-01  4.58226522e-01  4.00930535e-01
  3.42020143e-01  2.81732557e-01  2.20310533e-01  1.58001396e-01
  9.50560433e-02  3.17279335e-02 -3.17279335e-02 -9.50560433e-02
 -1.58001396e-01 -2.20310533e-01 -2.81732557e-01 -3.42020143e-01
 -4.00930535e-01 -4.58226522e-01 -5.13677392e-01 -5.67059864e-01
 -6.18158986e-01 -6.66769001e-01 -7.12694171e-01 -7.55749574e-01
 -7.95761841e-01 -8.32569855e-01 -8.66025404e-01 -8.95993774e-01
 -9.22354294e-01 -9.45000819e-01 -9.63842159e-01 -9.78802446e-01
 -9.89821442e-01 -9.96854776e-01 -9.99874128e-01 -9.98867339e-01
 -9.93838464e-01 -9.84807753e-01 -9.71811568e-01 -9.54902241e-01
 -9.34147860e-01 -9.09631995e-01 -8.81453363e-01 -8.49725430e-01
 -8.14575952e-01 -7.76146464e-01 -7.34591709e-01 -6.90079011e-01
 -6.42787610e-01 -5.92907929e-01 -5.40640817e-01 -4.86196736e-01
 -4.29794912e-01 -3.71662456e-01 -3.12033446e-01 -2.51147987e-01
 -1.89251244e-01 -1.26592454e-01 -6.34239197e-02 -2.44929360e-16]

In [256]:
#You can create random distributions too
np.random.normal(0.0, 1.0, (2, 2, 2))

array([[[-0.29486926, -0.53874567],
        [ 1.71223644,  0.13950096]],

       [[ 1.08335912, -1.36688395],
        [-0.90417707,  0.8059133 ]]])

In [257]:
help(np.random.normal)

Help on built-in function normal:

normal(...) method of numpy.random.mtrand.RandomState instance
    normal(loc=0.0, scale=1.0, size=None)

    Draw random samples from a normal (Gaussian) distribution.

    The probability density function of the normal distribution, first
    derived by De Moivre and 200 years later by both Gauss and Laplace
    independently [2]_, is often called the bell curve because of
    its characteristic shape (see the example below).

    The normal distributions occurs often in nature.  For example, it
    describes the commonly occurring distribution of samples influenced
    by a large number of tiny, random disturbances, each with its own
    unique distribution [2]_.

    .. note::
        New code should use the ``normal`` method of a ``default_rng()``
        instance instead; please see the :ref:`random-quick-start`.

    Parameters
    ----------
    loc : float or array_like of floats
        Mean ("centre") of the distribution.
    scale : float or array_like of floats
        Standard deviation (spread or "width") of the distribution. Must be
        non-negative.
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  If size is ``None`` (default),
        a single value is returned if ``loc`` and ``scale`` are both scalars.
        Otherwise, ``np.broadcast(loc, scale).size`` samples are drawn.

    Returns
    -------
    out : ndarray or scalar
        Drawn samples from the parameterized normal distribution.

    See Also
    --------
    scipy.stats.norm : probability density function, distribution or
        cumulative density function, etc.
    random.Generator.normal: which should be used for new code.

    Notes
    -----
    The probability density for the Gaussian distribution is

    .. math:: p(x) = \frac{1}{\sqrt{ 2 \pi \sigma^2 }}
                     e^{ - \frac{ (x - \mu)^2 } {2 \sigma^2} },

    where :math:`\mu` is the mean and :math:`\sigma` the standard
    deviation. The square of the standard deviation, :math:`\sigma^2`,
    is called the variance.

    The function has its peak at the mean, and its "spread" increases with
    the standard deviation (the function reaches 0.607 times its maximum at
    :math:`x + \sigma` and :math:`x - \sigma` [2]_).  This implies that
    normal is more likely to return samples lying close to the mean, rather
    than those far away.

    References
    ----------
    .. [1] Wikipedia, "Normal distribution",
           https://en.wikipedia.org/wiki/Normal_distribution
    .. [2] P. R. Peebles Jr., "Central Limit Theorem" in "Probability,
           Random Variables and Random Signal Principles", 4th ed., 2001,
           pp. 51, 51, 125.

    Examples
    --------
    Draw samples from the distribution:

    >>> mu, sigma = 0, 0.1 # mean and standard deviation
    >>> s = np.random.normal(mu, sigma, 1000)

    Verify the mean and the variance:

    >>> abs(mu - np.mean(s))
    0.0  # may vary

    >>> abs(sigma - np.std(s, ddof=1))
    0.1  # may vary

    Display the histogram of the samples, along with
    the probability density function:

    >>> import matplotlib.pyplot as plt
    >>> count, bins, ignored = plt.hist(s, 30, density=True)
    >>> plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) *
    ...                np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
    ...          linewidth=2, color='r')
    >>> plt.show()

    Two-by-four array of samples from N(3, 6.25):

    >>> np.random.normal(3, 2.5, size=(2, 4))
    array([[-4.49401501,  4.00950034, -1.81814867,  7.29718677],   # random
           [ 0.39924804,  4.68456316,  4.99394529,  4.84057254]])  # random

In [258]:
#If you haven't figured out already, numpy arrays are MUTABLE

#Simple assignments make no copy of array objects or of their data because numpy arrays are mutable too
a = np.arange(12)
b = a            # no new object is created
print ("b is a?", b is a)           # a and b are two names for the same ndarray object
print(id(a), id(b))

b is a? True
1917817242800 1917817242800

In [259]:
print ("Shape before:", a.shape)
b.shape = 3,4    # changes the shape of a
print ("Shape before:", a.shape)

Shape before: (12,)
Shape before: (3, 4)

In [260]:
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

<div align="left" id ="numpy_matrix"> <a href="#numpy"><font size="3" color="black"><b>Matrix Operations</b></font></a></div>

NumPy supports all major matrix operations

In [261]:
a = np.arange(6).reshape(2, 3)
b = np.arange(2,8).reshape(3, 2)
c = np.arange(6).reshape(3, 2)
print ("a:\n", a)
print ("b:\n", b)
print ("c:\n", c)

a:
 [[0 1 2]
 [3 4 5]]
b:
 [[2 3]
 [4 5]
 [6 7]]
c:
 [[0 1]
 [2 3]
 [4 5]]

In [262]:
b+c #try b-c also

array([[ 2,  4],
       [ 6,  8],
       [10, 12]])

In [263]:
#Dot Product
np.dot(a,b) #try b,a too 
#or a.dot(b)

array([[16, 19],
       [52, 64]])

In [264]:
#Transpose
np.transpose(a)
#or simple a.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [265]:
from numpy.linalg import inv
inv(a[0:2,0:2])

array([[-1.33333333,  0.33333333],
       [ 1.        ,  0.        ]])

In [266]:
np.dot(inv(a[0:2,0:2]),a[0:2,0:2])

array([[1., 0.],
       [0., 1.]])

In [267]:
#Functions get applied to all the elements
a*2

array([[ 0,  2,  4],
       [ 6,  8, 10]])

In [268]:
a**2

array([[ 0,  1,  4],
       [ 9, 16, 25]])

In [269]:
a<3

array([[ True,  True,  True],
       [False, False, False]])

In [270]:
np.mean(a) #min, max etc are there too

2.5

In [271]:
#You can take column sums(or min/max etc) OR row sums too
b.sum(axis=1)   #1 means along rows

array([ 5,  9, 13])

In [272]:
b.mean(axis=0)   #0 means along column

array([4., 5.])

In [273]:
# returns the array, flattened
b.ravel()

array([2, 3, 4, 5, 6, 7])

In [274]:
#You can stack the arrays
a = np.zeros((2,2))
b = np.ones((2,2))
print (np.vstack((a,b)))
print (np.hstack((a,b)))

[[0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]]
[[0. 0. 1. 1.]
 [0. 0. 1. 1.]]

<div align="left" id ="numpy_index"> <a href="#numpy"><font size="3" color="black"><b>Indexing and Slicing</b></font></a></div>

Remember numbering/indexing starts from 0 in Python

In [275]:
a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [276]:
#first row
print ("First row of a: ", a[0, :])# : means everything

First row of a:  [0 1 2 3 4]

In [277]:
#second columns
print ("Second column of a: ", a[:, 2] )

Second column of a:  [ 2  7 12]

In [278]:
#slicing works too
print (a[1:3, 2:4]) #From row index 1 to row index 3-1, column index 2 to column index 4-1

[[ 7  8]
 [12 13]]

In [279]:
#You can use indexing/slicing to assign values
a[1:3, 2:4] = -1
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6, -1, -1,  9],
       [10, 11, -1, -1, 14]])

In [280]:
#Using steps
a = np.arange(10)**3
print (a)

[  0   1   8  27  64 125 216 343 512 729]

In [281]:
a[:6:2] = -1000  #change every second element till index 5 (i.e. 6-1)
print (a)

[-1000     1 -1000    27 -1000   125   216   343   512   729]

In [282]:
#You can use slicing to create new arrays
a = np.arange(12).reshape(2,3,2) #two arrays of 3x2
b = a[:,:,:]    #3 dimensions three columns 
print (id(a), id(b))
print (a)
print (b)

1917817410544 1917817413328
[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]]
[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]]

In [283]:
#Or you can use copy() method
b = a.copy()    #3 dimensions three columns 
print (id(a), id(b))

1917817410544 1917817379120

In [284]:
#Replacing elements based on a condition

a = np.arange(12).reshape((3,4))
print ("a:\n", a)

a:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [285]:
b = a>6 #Here a>6 creates a boolean array and then that is use as index below
print ("b:\n", b)

b:
 [[False False False False]
 [False False False  True]
 [ True  True  True  True]]

In [286]:
a[b] = -1
print ("a finally :\n", a)

a finally :
 [[ 0  1  2  3]
 [ 4  5  6 -1]
 [-1 -1 -1 -1]]

In [287]:
#Here a>6 creates a boolean array and then that is use to index

#pearson correlation
data = np.random.normal(size=[100, 5]) #100 rows, 5 columns
print(np.corrcoef(data.T))

[[ 1.          0.05467807  0.09766208 -0.02523943  0.0499691 ]
 [ 0.05467807  1.         -0.16953166 -0.06053481 -0.08830459]
 [ 0.09766208 -0.16953166  1.         -0.05872187 -0.04043133]
 [-0.02523943 -0.06053481 -0.05872187  1.          0.08096139]
 [ 0.0499691  -0.08830459 -0.04043133  0.08096139  1.        ]]

In [288]:
#solving equations ax = b
a = np.array([[1,2],[3,-4]])
b = np.array([2,16])
print (np.linalg.solve(a,b))

[ 4. -1.]

<div align="left" id="pandas"><a href="#contents"><font size="4" color="red"><b>PANDAS</b></font></a></div>
<ol type="square">
    <li><a href="#pandas_df">Introduction to Dataframes</a></li>
    <li><a href="#pandas_manu">Manipulating Dataframes</a></li>
    <li><a href="#pandas_stats">Statistics with Dataframes</a></li>
</ol>

Pandas is a high-level data manipulation tool. It is built on the Numpy package and its key data structure is called the DataFrame (along with one more known as series)

<div align="left" id ="pandas_df"> <a href="#pandas"><font size="3" color="black"><b>Introduction to Dataframes</b></font></a></div>

In [289]:
import pandas as pd

In [290]:
#You can create dataframes with list of lists, where each list is one row in the data
data = [['ABC', -3.5, 0.01], ['ABC', -2.3, 0.12], 
        ['DEF', None, 0.03], ['DEF', 3.7, 0.01], 
        ['GHI', 0.04, 0.43], ['GHI', -0.1, 0.67]]
df = pd.DataFrame(data, columns=['gene', 'log2FC', 'pval'])
df

  gene  log2FC  pval
0  ABC   -3.50  0.01
1  ABC   -2.30  0.12
2  DEF     NaN  0.03
3  DEF    3.70  0.01
4  GHI    0.04  0.43
5  GHI   -0.10  0.67

In [291]:
#or you can create using dictionaries, where keys are column names and values are the values in the column
pd.DataFrame({'name':['Anil', 'John', 'Ali'], 'age':[5,6,7]})

   name  age
0  Anil    5
1  John    6
2   Ali    7

In [293]:
#But mostly we will be reading data from files. Here is how you read a csv file
#Let's first set the working directory
import os
os.chdir(r"C:/BITsPilaniMTECH2123/Sem3/DL/HandsOn_DL_2023/")

#Now load the dataset
iris = pd.read_csv("diabetes.csv")
print (type(iris))
iris.head()

<class 'pandas.core.frame.DataFrame'>

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [294]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

Here are some key things you should immediately do after importing a data set
<ol>
    <li>Check <b>shape</b> of the data i.e. #rows and #columns using df.shape</li>
    <li>Check <b>data type</b> of each column using df.info()</li>
    <li>Check <b>uniqueness</b> of the data i.e. ensure the data is unique at the primary keys' level. e.g for students data, check if the data is unique at roll_no and class_std or not, or customer data being unique at cust_id level using df.shape, df[['pk1','pk2']].drop_duplicates().shape</li>
    <li>Check <b>frequency</b> of key columns - like months, dates, etc. This will ensure you have complete data and not missing out some key information using df.col.value_counts(dropna=False)</li>
    <li>Check number of <b>null</b> values in each column using df.isna().sum()</li>
    <li>Some <b>basic stats</b> of each column using df.describe()</li>
    <li>Finally analyze some <b>random sample</b> of the data using df.sample(100), if you want to be extra sure. You can export sample to using df.sample(100).to_csv('sample.csv')</li>
</ol>

In [295]:
#Shape of the data
iris.shape

(768, 9)

In [296]:
#Data type - 'object' means its a non-number(i.e. not int/float) type column e.g. string 
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [297]:
#ensuring data is unique at primary key(s) level
iris.shape, iris[['Age']].drop_duplicates().shape

((768, 9), (52, 1))

In [299]:
#frequency of some key columns
iris.Age.value_counts(dropna=False)

22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
46    13
43    13
40    13
39    12
35    10
50     8
51     8
52     8
44     8
58     7
47     6
54     6
49     5
48     5
57     5
53     5
60     5
66     4
63     4
62     4
55     4
67     3
56     3
59     3
65     3
69     2
61     2
72     1
81     1
64     1
70     1
68     1
Name: Age, dtype: int64

In [300]:
#If you do not use "dropna = False" above, the frequency for null values in the column will not be shown
#count of nulls in each column
iris.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [301]:
#Some Basic stats
iris.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [302]:
#The above code gave descriptive statistics on numerical columns only. If you want the same for text columns, use the code below

In [309]:
#iris.describe(include=['Age'])

In [306]:
#Viewing data
iris.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
653,2,120,54,0,0,26.8,0.455,27,0
314,7,109,80,31,0,35.9,1.127,43,1
257,2,114,68,22,0,28.7,0.092,25,0
708,9,164,78,0,0,32.8,0.148,45,1
299,8,112,72,0,0,23.6,0.840,58,0
89,1,107,68,19,0,26.5,0.165,24,0
507,1,130,60,23,170,28.6,0.692,21,0
344,8,95,72,0,0,36.8,0.485,57,0
695,7,142,90,24,480,30.4,0.128,43,1
706,10,115,0,0,0,0.0,0.261,30,1

In [310]:
iris.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [311]:
iris.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Slicing Dataframes using "iloc"

Indexing and slicing works pretty much the same way as python lists - remember lst[a:b:c] ?. Just that here you need to provide a,b,c to slice index for both rows and columns. Let's see some examples

In [312]:
#gives everything
iris.iloc[:,:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [313]:
#taking out the value at row index = 3, and column index = 3
iris.iloc[3,3]

23

In [314]:
#taking out the values at row index between 0 and 2, and column index between 0 and 2
iris.iloc[0:3,0:3]

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64

In [315]:
#taking out the values at row index between 0 and 2, and column index between 0 and 2, 
#while skipping 1 row and column
iris.iloc[0:3:2,0:3:2]

   Pregnancies  BloodPressure
0            6             72
2            8             64

<b>A better way of slicing Dataframes using "loc"</b><br>

For "iloc" you need to provide the location or index of columns or rows. That becomes troublesome if have a huge dataset with many rows/columns and you do not know the index of a particular row or column that you want. For example in case of banking data you might have thousands of rows or columns, finding the index of lets say 'sales' column is hard. <br><br>
So what can you do? You can use 'loc' and just ask pandas to display rows which satisfy particular condition(s) and also specify the columns by their names(i.e. not with index) within a list

In [316]:
iris.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [318]:
iris.loc[iris.Age >= 50, ['BloodPressure','Insulin','BMI','Age']].head()

    BloodPressure  Insulin   BMI  Age
0              72        0  33.6   50
8              70      543  30.5   53
9              96        0   0.0   54
12             80        0  27.1   57
13             60      846  30.1   59

#### You can specify multiple conditions on row selection using ampersand "&" and pipe "|"

In [319]:
iris.loc[(iris.Age == 50) &  (iris.BMI >= 20), ['BloodPressure','Insulin','BMI','Age']].head()

     BloodPressure  Insulin   BMI  Age
0               72        0  33.6   50
21              84        0  35.4   50
473             90        0  29.9   50
548             82       67  32.8   50
614             74      144  36.1   50

Notice pandas labels the rows by default (see the very first column without any column name). That serves as the row name. It is NOT the index of rows, while it does look like it. Generally you will be using row names with 'loc' and will only use conditions on rows to filter data. Still here is one example of how it works

In [323]:
#will print rows with names 1 to 4, NOT index 1 to 3 which happens in case of iloc
iris.loc[1:4,["Pregnancies","Glucose"]]

   Pregnancies  Glucose
1            1       85
2            8      183
3            1       89
4            0      137

Here is a code which shows you the difference between 'loc' and 'iloc' in using row names. Notice how 'loc' above printed rows 1 to 4 because it prints all row names mentioned, but in case of 'iloc' below , it does not print the row at index 4

In [324]:
iris.iloc[1:4,0:2]

   Pregnancies  Glucose
1            1       85
2            8      183
3            1       89

In [325]:
#Just do yourself a favor and avoid iloc
#Getting column names
print (iris.columns)
print (type(iris.columns)) #Pandas data series is similar to lists in Python

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>

#### Ways to get specific columns

In [327]:
#prints column as series. Using head() to show only few values
iris.Pregnancies.head()

0    6
1    1
2    8
3    1
4    0
Name: Pregnancies, dtype: int64

In [328]:
#another similar way. This is a preferred way
iris['Pregnancies'].head()

0    6
1    1
2    8
3    1
4    0
Name: Pregnancies, dtype: int64

In [329]:
#following prints the column as a dataframe. Notice the two square brackets
iris[['Pregnancies']].head()

   Pregnancies
0            6
1            1
2            8
3            1
4            0

In [330]:
#The above method can be used to print multiple columns 
iris[['Pregnancies', 'BMI']].head()

   Pregnancies   BMI
0            6  33.6
1            1  26.6
2            8  23.3
3            1  28.1
4            0  43.1

In [331]:
#same example as above using loc
iris.loc[:, ['BMI', 'Pregnancies']].head()

    BMI  Pregnancies
0  33.6            6
1  26.6            1
2  23.3            8
3  28.1            1
4  43.1            0

### Manipulating Dataframes

While working with any dataset, a good practice is to convert all the column names to either upper or lower case to avoid any error due to Case-sensitive nature of Python

In [332]:
iris.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [333]:
iris.columns = iris.columns.str.upper()
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [334]:
#You can rename columns by using 'rename' method and specifiying old and new names in a dictionary 
#and also what is it that you are renaming - columns or rows
iris.rename({'PREGNANCIES':'PREGNANCIES_NEW','BMI':'BMI_NEW'},axis = 'columns').head()

,PREGNANCIES_NEW,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI_NEW,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [335]:
#Let's see if iris dataset is changed or not
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Wait what?! Why didn't it rename but during print it showed new names? Answer: Any method in pandas generally does not make changes to the original dataset and only prints the output. You will need to store the output in a separate variable.

In [336]:
iris = iris.rename({'PREGNANCIES':'PREGNANCIES_NEW','BMI':'BMI_NEW'},axis = 'columns')
iris.head()

,PREGNANCIES_NEW,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI_NEW,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Or (a less preferred way) you can use an option called "inplace = True" which is available in most pandas methods to enforce changes in the dataset during the use of a method. For example

In [337]:
iris.rename({'PREGNANCIES_NEW':'PREGNANCIES','BMI_NEW':'BMI'},axis = 'columns',inplace = True)
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Let's revert back to original names. You can rename columns like this also, but it is not preferred if you have many columns in the data

In [339]:
iris.columns

Index(['PREGNANCIES', 'GLUCOSE', 'BLOODPRESSURE', 'SKINTHICKNESS', 'INSULIN',
       'BMI', 'DIABETESPEDIGREEFUNCTION', 'AGE', 'OUTCOME'],
      dtype='object')

In [340]:
iris.columns = ['PREGNANCIES', 'GLUCOSE', 'BLOODPRESSURE', 'SKINTHICKNESS', 'INSULIN','BMI', 'DIABETESPEDIGREEFUNCTION', 'AGE', 'OUTCOME']
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [341]:
#if you want to sort the values for which you are getting frequency
iris.PREGNANCIES.value_counts(dropna=False).sort_index(ascending=False)

17      1
15      1
14      2
13     10
12      9
11     11
10     24
9      28
8      38
7      45
6      50
5      57
4      68
3      75
2     103
1     135
0     111
Name: PREGNANCIES, dtype: int64

In [342]:
#if you want to sort by frequency
iris.PREGNANCIES.value_counts(dropna=False).sort_values(ascending=False)

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: PREGNANCIES, dtype: int64

In [343]:
iris = iris.sort_values(by=['AGE'], ascending = [False])
# or you could have used below code
#iris.sort_values(by=['AGE'], ascending = [True], inplace=True)
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
459,9,134,74,33,60,25.9,0.460,81,0
453,2,119,0,0,0,19.6,0.832,72,0
666,4,145,82,18,0,32.5,0.235,70,1
123,5,132,80,0,0,26.8,0.186,69,0
684,5,136,82,0,0,0.0,0.640,69,0

In [344]:
#You can also sort by multiple columns. 
#Specify the columns in 'by' option 
#Speficy the sort order in 'ascending' option
iris = iris.sort_values(by=['BLOODPRESSURE', 'INSULIN'], ascending = [False, True])
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME
106,1,96,122,0,0,22.4,0.207,27,0
691,13,158,114,0,0,42.3,0.257,44,1
549,4,189,110,31,0,28.5,0.680,37,0
177,0,129,110,46,130,67.1,0.319,26,1
43,9,171,110,24,240,45.4,0.721,54,1

Adding columns

In [345]:
#Adding a new column with a static value
iris['dummy'] = 1

#Addng a new column using some calculation on other columns
iris['NEW1'] = iris['PREGNANCIES'] * iris['GLUCOSE']
iris['NEW2'] = (iris['PREGNANCIES'] + iris['GLUCOSE'])/2

iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,dummy,NEW1,NEW2
106,1,96,122,0,0,22.4,0.207,27,0,1,96,48.5
691,13,158,114,0,0,42.3,0.257,44,1,1,2054,85.5
549,4,189,110,31,0,28.5,0.680,37,0,1,756,96.5
177,0,129,110,46,130,67.1,0.319,26,1,1,0,64.5
43,9,171,110,24,240,45.4,0.721,54,1,1,1539,90.0

In [346]:
#Adding columns basis some condition - basically pandas's if-else version
iris['new'] = 3
iris.loc[iris.AGE>= 50, 'new'] = 1
iris.loc[iris.AGE< 50, 'new'] = 2
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,dummy,NEW1,NEW2,new
106,1,96,122,0,0,22.4,0.207,27,0,1,96,48.5,2
691,13,158,114,0,0,42.3,0.257,44,1,1,2054,85.5,2
549,4,189,110,31,0,28.5,0.680,37,0,1,756,96.5,2
177,0,129,110,46,130,67.1,0.319,26,1,1,0,64.5,2
43,9,171,110,24,240,45.4,0.721,54,1,1,1539,90.0,1

In [349]:
#You can create cross-tabs between two columns too
pd.crosstab(iris.OUTCOME, iris.new)

new       1    2
OUTCOME
0        46  454
1        43  225

reset_index() converts outputs like above to dataframe. Notice the difference

In [350]:
pd.crosstab(iris.OUTCOME, iris.new).reset_index()

new  OUTCOME   1    2
0          0  46  454
1          1  43  225

Dropping Columns

In [351]:
iris = iris.drop(['dummy', 'NEW1', 'NEW2'], axis = 'columns')
iris.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,new
106,1,96,122,0,0,22.4,0.207,27,0,2
691,13,158,114,0,0,42.3,0.257,44,1,2
549,4,189,110,31,0,28.5,0.680,37,0,2
177,0,129,110,46,130,67.1,0.319,26,1,2
43,9,171,110,24,240,45.4,0.721,54,1,1

Stacking two separate dataframes can be done using append() or concat()

In [352]:
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
print(df1)
print()
print(df2)

   A  B
0  1  2
1  3  4

   A  B
0  5  6
1  7  8

In [353]:
df1.append(df2, ignore_index = True)
#If you do not ignore index, pandas will save the original indexes from the two datasets

C:\Users\Abhishek Jaiswal\AppData\Local\Temp\ipykernel_8860\4107386415.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index = True)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [354]:
#Stacking up side by side
pd.concat([df1,df2.rename(columns={'A':'C', 'B':'D'})],axis='columns')

   A  B  C  D
0  1  2  5  6
1  3  4  7  8

#### SQL joins in pandas

In [362]:
new = pd.DataFrame([[50,'OLD'],[24,'YOUNG']], columns = ['AGE', 'AGE_TYPE'])
new

   AGE AGE_TYPE
0   50      OLD
1   24    YOUNG

In [363]:
iris.AGE.unique()

array([27, 44, 37, 26, 54, 65, 51, 47, 43, 52, 41, 45, 35, 22, 34, 28, 33,
       30, 21, 60, 66, 61, 48, 38, 32, 50, 46, 42, 39, 36, 23, 25, 29, 31,
       58, 49, 24, 40, 53, 63, 56, 62, 59, 70, 69, 68, 57, 67, 64, 55, 81,
       72], dtype=int64)

In [364]:
#inner join 
temp1 = iris.merge(right = new, #what you want to merge
          how = 'inner', #how you want to merge i.e. type of join 
          left_on = ['AGE'], #join columns from left table
          right_on = ['AGE'] #join columns from right table
          )
temp1.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,new,AGE_TYPE
0,7,136,90,0,0,29.9,0.210,50,0,1,OLD
1,8,99,84,0,0,35.4,0.388,50,0,1,OLD
2,9,112,82,24,0,28.2,1.282,50,1,1,OLD
3,1,164,82,43,67,32.8,0.341,50,0,1,OLD
4,6,147,80,0,0,29.5,0.178,50,1,1,OLD

In [366]:
print(temp1.shape)
temp1.AGE_TYPE.value_counts(dropna=False)

(54, 11)

YOUNG    46
OLD       8
Name: AGE_TYPE, dtype: int64

In [367]:
#left join 
temp2 = iris.merge(right = new, #what you want to merge
          how = 'left', #how you want to merge i.e. type of join 
          left_on = ['AGE'], #join columns from left table
          right_on = ['AGE'] #join columns from right table
          )
temp2.head()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,new,AGE_TYPE
0,1,96,122,0,0,22.4,0.207,27,0,2,NaN
1,13,158,114,0,0,42.3,0.257,44,1,2,NaN
2,4,189,110,31,0,28.5,0.680,37,0,2,NaN
3,0,129,110,46,130,67.1,0.319,26,1,2,NaN
4,9,171,110,24,240,45.4,0.721,54,1,1,NaN

In [368]:
print(temp2.shape)
temp2.AGE_TYPE.value_counts(dropna=False)

(768, 11)

NaN      714
YOUNG     46
OLD        8
Name: AGE_TYPE, dtype: int64

#### Statistics with Dataframes

You can apply certain functions on whole dataset by columns - like min(), max(), std(), mean(), nunique() etc. For Example

In [369]:
iris.sum()

PREGNANCIES                  2953.000
GLUCOSE                     92847.000
BLOODPRESSURE               53073.000
SKINTHICKNESS               15772.000
INSULIN                     61286.000
BMI                         24570.300
DIABETESPEDIGREEFUNCTION      362.401
AGE                         25529.000
OUTCOME                       268.000
new                          1447.000
dtype: float64

In [370]:
iris.nunique()

PREGNANCIES                  17
GLUCOSE                     136
BLOODPRESSURE                47
SKINTHICKNESS                51
INSULIN                     186
BMI                         248
DIABETESPEDIGREEFUNCTION    517
AGE                          52
OUTCOME                       2
new                           2
dtype: int64

In [371]:
iris.quantile([0.0, 0.01, 0.50, 0.99, 1.0])

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,new
0.00,0.0,0.0,0.0,0.00,0.0,0.000,0.07800,21.0,0.0,1.0
0.01,0.0,57.0,0.0,0.00,0.0,0.000,0.09468,21.0,0.0,1.0
0.50,3.0,117.0,72.0,23.00,30.5,32.000,0.37250,29.0,0.0,2.0
0.99,13.0,196.0,106.0,51.33,519.9,50.759,1.69833,67.0,1.0,2.0
1.00,17.0,199.0,122.0,99.00,846.0,67.100,2.42000,81.0,1.0,2.0

In [372]:
iris.corr()

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,new
PREGNANCIES,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898,-0.235312
GLUCOSE,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581,-0.211390
BLOODPRESSURE,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068,-0.173417
SKINTHICKNESS,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752,0.110424
INSULIN,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548,-0.013593
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695,0.077671
DIABETESPEDIGREEFUNCTION,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844,-0.029326
AGE,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356,-0.756485
OUTCOME,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000,-0.101925
new,-0.235312,-0.211390,-0.173417,0.110424,-0.013593,0.077671,-0.029326,-0.756485,-0.101925,1.000000

In [373]:
#Missing Value Treatment
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                    [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, 5],
                    [np.nan, 3, np.nan, 4]],
                    columns=list('ABCD'))
#Missing values in pandas are represented by NaN
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [374]:
#Fill nulls with some value
df.fillna(0) #this doesn't replace df

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [375]:
#or just drop all rows with missing
df.dropna()

Empty DataFrame
Columns: [A, B, C, D]
Index: []

#### groupby()

One of the most important utility in pandas is it's groupby() function, which allows you to aggregate information

In [376]:
iris.head(2)

,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,OUTCOME,new
106,1,96,122,0,0,22.4,0.207,27,0,2
691,13,158,114,0,0,42.3,0.257,44,1,2

In [377]:
#Aggregation for all columns
iris.groupby(['OUTCOME']).sum().reset_index()

,OUTCOME,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,DIABETESPEDIGREEFUNCTION,AGE,new
0,0,1649,54990,34092,9832,34396,15152.1,214.867,15595,954
1,1,1304,37857,18981,5940,26890,9418.2,147.534,9934,493

In [378]:
#Aggregation for specific columns
iris.groupby(['OUTCOME'])['GLUCOSE','BLOODPRESSURE'].sum().reset_index()

C:\Users\Abhishek Jaiswal\AppData\Local\Temp\ipykernel_8860\961816744.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  iris.groupby(['OUTCOME'])['GLUCOSE','BLOODPRESSURE'].sum().reset_index()

   OUTCOME  GLUCOSE  BLOODPRESSURE
0        0    54990          34092
1        1    37857          18981

In [379]:
#more than one aggregation 
iris.groupby(['OUTCOME'])['GLUCOSE','BLOODPRESSURE'].agg(['min','max', 'mean']).reset_index()

C:\Users\Abhishek Jaiswal\AppData\Local\Temp\ipykernel_8860\572771638.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  iris.groupby(['OUTCOME'])['GLUCOSE','BLOODPRESSURE'].agg(['min','max', 'mean']).reset_index()

  OUTCOME GLUCOSE                  BLOODPRESSURE
              min  max        mean           min  max       mean
0       0       0  197  109.980000             0  122  68.184000
1       1       0  199  141.257463             0  114  70.824627

In [380]:
#different aggregation for different columns
iris.groupby(['OUTCOME']).agg({'GLUCOSE':'min', 'BLOODPRESSURE':'max'}).reset_index()

   OUTCOME  GLUCOSE  BLOODPRESSURE
0        0        0            122
1        1        0            114

In [382]:
#Get unique values in a column
iris.OUTCOME.unique()

array([0, 1], dtype=int64)

In [383]:
#Get number of unique values in a column
iris.OUTCOME.nunique()

2

### These are the five topics we’ll talk about:

#### Aggregation, Grouping, and Ordering Data
#### Joining Tables
#### Filtering Data
#### Text Manipulation
#### Datetime Manipulation

In [386]:
import numpy as np
import pandas as pd
import seaborn as sns
planets = pd.read_csv('C:/BITsPilaniMTECH2123/Sem3/DL/HandsOn_DL_2023/planets.csv')
planets.shape

(1035, 6)

## Aggregation, Grouping & Ordering Data

Aggregation	Description

count()	Total number of items

first(), last()	First and last item

mean(), median()	Mean and median

min(), max()	Minimum and maximum

std(), var()	Standard deviation and variance

mad()	Mean absolute deviation

prod()	Product of all items

sum()	Sum of all items

In [387]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [388]:
ser.sum()

2.811925491708157

In [389]:
ser.mean()

0.5623850983416314

In [390]:
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df

          A         B
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

In [391]:
df.mean()

A    0.477888
B    0.443420
dtype: float64

In [392]:
df.mean(axis='columns')

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

In [393]:
df.mean(axis=1)

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

In [394]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [395]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [396]:
df.groupby('key')

In [397]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [398]:
planets.groupby('method')

In [399]:
planets.groupby('method')['orbital_period']

In [400]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [401]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [402]:
planets.groupby('method')['year'].describe().unstack()

       method
count  Astrometry                          2.0
       Eclipse Timing Variations           9.0
       Imaging                            38.0
       Microlensing                       23.0
       Orbital Brightness Modulation       3.0
                                         ...
max    Pulsar Timing                    2011.0
       Pulsation Timing Variations      2007.0
       Radial Velocity                  2014.0
       Transit                          2014.0
       Transit Timing Variations        2014.0
Length: 80, dtype: float64

In [403]:
planets.head(1)

            method  number  orbital_period  mass  distance  year
0  Radial Velocity       1           269.3   7.1      77.4  2006

In [404]:
planets.groupby(['method'])['orbital_period','mass','distance'].agg(['min','max', 'mean']).reset_index()

C:\Users\Abhishek Jaiswal\AppData\Local\Temp\ipykernel_8860\2085944110.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  planets.groupby(['method'])['orbital_period','mass','distance'].agg(['min','max', 'mean']).reset_index()

                          method orbital_period                                \
                                            min            max           mean
0                     Astrometry     246.360000    1016.000000     631.180000
1      Eclipse Timing Variations    1916.250000   10220.000000    4751.644444
2                        Imaging    4639.150000  730000.000000  118247.737500
3                   Microlensing    1825.000000    5100.000000    3153.571429
4  Orbital Brightness Modulation       0.240104       1.544929       0.709307
5                  Pulsar Timing       0.090706   36525.000000    7343.021201
6    Pulsation Timing Variations    1170.000000    1170.000000    1170.000000
7                Radial Velocity       0.736540   17337.500000     823.354680
8                        Transit       0.355000     331.600590      21.102073
9      Transit Timing Variations      22.339500     160.000000      79.783500

     mass                  distance
      min    max      mean      min      max         mean
0     NaN    NaN       NaN    14.98    20.77    17.875000
1  4.2000   6.05  5.125000   130.72   500.00   315.360000
2     NaN    NaN       NaN     7.69   165.00    67.715937
3     NaN    NaN       NaN  1760.00  7720.00  4144.000000
4     NaN    NaN       NaN  1180.00  1180.00  1180.000000
5     NaN    NaN       NaN  1200.00  1200.00  1200.000000
6     NaN    NaN       NaN      NaN      NaN          NaN
7  0.0036  25.00  2.630699     1.35   354.00    51.600208
8  1.4700   1.47  1.470000    38.00  8500.00   599.298080
9     NaN    NaN       NaN   339.00  2119.00  1104.333333

In [408]:
planets.groupby(['method']).agg({'distance':'min', 'mass':'max'}).reset_index()

                          method  distance   mass
0                     Astrometry     14.98    NaN
1      Eclipse Timing Variations    130.72   6.05
2                        Imaging      7.69    NaN
3                   Microlensing   1760.00    NaN
4  Orbital Brightness Modulation   1180.00    NaN
5                  Pulsar Timing   1200.00    NaN
6    Pulsation Timing Variations       NaN    NaN
7                Radial Velocity      1.35  25.00
8                        Transit     38.00   1.47
9      Transit Timing Variations    339.00    NaN

In [409]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [410]:
df.groupby('key').aggregate(['min', np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [411]:
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [412]:
def filter_func(x):
    return x['data2'].std() > 4

display('df', "df.groupby('key').std()", "df.groupby('key').filter(filter_func)")

'df'

"df.groupby('key').std()"

"df.groupby('key').filter(filter_func)"

In [413]:
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [414]:
def norm_by_data2(x):
    # x is a DataFrame of group values
    x['data1'] /= x['data2'].sum()
    return x

display('df', "df.groupby('key').apply(norm_by_data2)")

'df'

"df.groupby('key').apply(norm_by_data2)"

In [415]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

In [416]:
numbers = [6, 9, 3, 1]
sorted(numbers)

[1, 3, 6, 9]

In [417]:
planets.tail(2)

       method  number  orbital_period  mass  distance  year
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [418]:
planets.number.value_counts(dropna=False).sort_values(ascending=False)

1    595
2    259
3     88
4     32
5     30
6     24
7      7
Name: number, dtype: int64

In [419]:
planets.number.value_counts(dropna=False).sort_values()

7      7
6     24
5     30
4     32
3     88
2    259
1    595
Name: number, dtype: int64

### joins

In [420]:
import pandas as pd
import numpy as np
#merge = pd.merge(customers, orders, left_on="id", right_on="cust_id")

In [421]:
import pandas as pd
import numpy as np
#merge = pd.merge(customers, orders, left_on="id", right_on="cust_id")

#result = merge.groupby(["cust_id", "first_name"])["total_order_cost"].min().reset_index()

### Data Filtering

In [422]:
import pandas as pd
import numpy as np

#conditions = billboard_top_100_year_end[(billboard_top_100_year_end['year'] == 2010) & (billboard_top_100_year_end['year_rank'].between(1,10))]

In [423]:
import pandas as pd
import numpy as np

#conditions = billboard_top_100_year_end[(billboard_top_100_year_end['year'] == 2010) & (billboard_top_100_year_end['year_rank'].between(1,10))]

#result = conditions[['year_rank','group_name','song_name']].drop_duplicates()

### Manipulating Text

In [424]:
import pandas as pd
import numpy as np
#num_reviews = airbnb_search_details['number_of_reviews']

In [425]:
import pandas as pd
import numpy as np
#num_reviews = airbnb_search_details['number_of_reviews']

#condlist = [num_reviews == 0, num_reviews.between(1,5),num_reviews.between(5,15),num_reviews.between(15,40),num_reviews>40]

In [426]:
import pandas as pd
import numpy as np

#num_reviews = airbnb_search_details['number_of_reviews']
#condlist = [num_reviews == 0, num_reviews.between(1,5),num_reviews.between(5,15),num_reviews.between(15,40),num_reviews>40]
#choicelist = ['NO','FEW','SOME','MANY','A LOT']

In [427]:
import pandas as pd
import numpy as np
#num_reviews = airbnb_search_details['number_of_reviews']

#condlist = [num_reviews == 0, num_reviews.between(1,5),num_reviews.between(5,15),num_reviews.between(15,40),num_reviews>40]

#choicelist = ['NO','FEW','SOME','MANY','A LOT']

#airbnb_search_details['reviews_qualification'] = np.select(condlist,choicelist)

#result = airbnb_search_details[['reviews_qualification','price']]

### Manipulating Datetime

In [428]:
import pandas as pd
from datetime import timedelta

#result = fb_comments_count[(fb_comments_count['created_at'] >= pd.to_datetime('2020-02-10') - timedelta(days=30)) & (
# fb_comments_count['created_at'] <= pd.to_datetime('2020-02-10'))].groupby('user_id')['number_of_comments'].sum().reset_index()